---
layout: post
date: 2021-02-15 20:12:06 +0000
title: Wellcome's approach to digital verification
summary: How we ensure the safety, security and integrity of the files in Wellcome's digital collections.
tags: digital-preservation
link: https://stacks.wellcomecollection.org/our-approach-to-digital-verification-79da59da4ab7
---

A couple of weeks ago, I wrote [a post on the Wellcome Collection development blog](https://stacks.wellcomecollection.org/our-approach-to-digital-verification-79da59da4ab7) about how we do verification of our digital collections.
This is an aspect of [our cloud storage service](https://stacks.wellcomecollection.org/building-wellcome-collections-new-archival-storage-service-3f68ff21927e) that I wanted to explain in more detail.

This started as a post about the simple mechanics -- what steps does our verification code run -- but I realised that would be of limited use.
Most institutions will have different needs, and they don't build their own storage service or have a team of software developers.
As I was writing, the post evolved into a set of principles -- the general rules we used to design our storage service, which could be applied to any digital preservation process.

I'm pleased with the final post, which explains our general approach to verification: how we check our digital collections are correct, when we run those checks, and how we run them.
