<table class="archive">
{% for post in posts %}
<tr class="archive__entry">
  {% if page.archive_variant == "yearly" or page.archive_variant == "monthly" %}
    <td class="archive__date">{{ post.date | date: "%-d %b" }}</td>
  {% else %}
    <td class="archive__date">{{ post.date | date: "%b %Y" }}</td>
  {% endif %}
  {% if post.index and post.index.best_of %}
    <td class="archive__bestof">
      {% if page.url == "/best-of/" %}
      <img src="/theme/best-of.png">
      {% else %}
      <a href="/best-of/"><img src="/theme/best-of.png"></a>
      {% endif %}
    </td>
  {% elsif page.archive_variant == "global" %}
    <td class="archive__bestof"></td>
  {% else %}
    <td></td>
  {% endif %}
  <td class="archive__url"><a href="{{ post.url }}">{{ post.title | smartify }}</a></td>
</tr>
{% endfor %}
</table>
