<table class="archive">
{% for post in posts %}
<tr class="archive__entry">
  {% if page.post_list_date_format == "day_month" %}
    <td class="archive__date">{{ post.date | date: "%-d %b" }}</td>
  {% else %}
    <td class="archive__date">{{ post.date | date: "%b %Y" }}</td>
  {% endif %}

  {% if post.index and post.index.best_of %}
    <td class="archive__bestof">
      {% if page.url == "/best-of/" %}
        <img src="/theme/best-of.png" alt="Red heart">
      {% else %}
        <a href="/best-of/"><img src="/theme/best-of.png" alt="Red heart"></a>
      {% endif %}
    </td>
  {% else %}
    <td class="archive__bestof"></td>
  {% endif %}

  <td class="archive__url"><a href="{{ post.url }}">{{ post.title | smartify }}</a></td>
</tr>
{% endfor %}
</table>
