{% comment %}
  Note: in general I lean towards long, descriptive names for
  my CSS classes and variables, but this is a "hot" component
  which is used a lot, especially on the articles page.
  
  I'm going for shorter names here to reducde the overall size
  of the page.
{% endcomment %}
<li
  class="card"
  id="a-{{ article.slug }}"
  data-tags="{{ article.tags | join: ' ' }}"
  {% if add_data_metadata %}
  data-date="{{ article.date | date: '%s' }}"
  {% endif %}
>
  <a href="{% if article.link_direct %}{{ article.link }}{% else %}{{ article.url }}{% endif %}">
    {% card_image %}

    <div class="c_meta">
      <p class="c_title">
        {{- article.title | markdownify_oneline -}}
      </p>
      {% if article.summary %}
        <p class="c_desc">
          {{- article.summary | markdownify_oneline -}}
        </p>
      {% endif %}
    </div>
  </a>
</li>