{% comment %}
  Note: in general I lean towards long, descriptive names for
  my CSS classes and variables, but this is a "hot" component
  which is used a lot, especially on the articles page.

  I'm going for shorter names here to reducde the overall size
  of the page.
{% endcomment %}
<li
  class="card"
  {% if article.card.color_lt or article.card.color_dk %}
    style="
      {%- if article.card.color_lt -%}
        --c-lt: {{- article.card.color_lt -}};
      {%- endif -%}

      {%- if article.card.color_dk -%}
        --c-dk: {{- article.card.color_dk -}}
      {%- endif -%}
    "
  {% endif %}
  {% if add_article_order %}
  data-ord="{{ article.order }}"
  {% endif %}
>
  <a href="{{ article.url }}">
    <div class="c_im_w{% if article.is_new %} n{% endif %}">
      {% if article.card.index %}
        <picture>
          {% for src in article.card.index_image_template_params.sources %}
          <source
            srcset="{{ src.srcset }}"
            sizes="(max-width: 450px) 405px, 405px"
            type="{{ src.type }}"
          >
          {% endfor %}
          <img
            src="{{ article.card.index_image_template_params.default_image }}"
            alt=""
            loading="lazy"
          >
        </picture>
      {% else %}
        <img
          src="/images/default-card.png"
          alt=""
          loading="lazy"
          data-proofer-ignore
        />
      {% endif %}
      {% if article.is_new %}
        <div class="new_banner">NEW</div>
      {% endif %}
    </div>

    <div class="c_meta">
      <p class="c_title">
        {{- article.card.title -}}
      </p>
      {%- if article.card.summary -%}
        <p class="c_desc">
          {{- article.card.summary | strip -}}
        </p>
      {%- endif -%}
    </div>
  </a>
</li>