<footer>
  <div id="footer_inner">
    <div id="footer_text">
      <p>
        By Alex Chan.
        If you like what I do, perhaps <a href="/say-thanks/">say&nbsp;thanks</a><span aria-hidden="true">?</span>
      </p>

      <p>
        Except where otherwise noted, this site is dual-licensed as <a href="https://github.com/alexwlchan/alexwlchan.net#license" id="footer__licence">CC&nbsp;BY&nbsp;4.0 and MIT</a><span aria-hidden="true">.</span>
      </p>
    </div>
    <div id="footer_social">
      {% comment %}
        Be careful about tweaking the whitespace here; the included SVGs
        are quite sensitive to linebreaks and the like.
      {% endcomment %}
      <a class="footer_link" id="footer_link--email" href="mailto:alex@alexwlchan.net">
        <span class="visually-hidden">email</span>
        <span aria-hidden="true">{% include footer/email.svg %}</span></a>
      <a class="footer_link" id="footer_link--rss" href="https://alexwlchan.net/atom.xml">
        <span class="visually-hidden">RSS feed</span>
        <span aria-hidden="true">{% include footer/rss.svg %}</span></a>
      {% comment %}
      <a class="footer_link" id="footer_link--twitter" href="https://twitter.com/alexwlchan">
        <span class="visually-hidden">Twitter</span>
        <span aria-hidden="true">{% include footer/twitter.svg %}</span></a>
      {% endcomment %}
      <a rel="me" class="footer_link" id="footer_link--mastodon" href="https://social.alexwlchan.net/@alex">
        <span class="visually-hidden">Mastodon</span>
        <span>{% include footer/mastodon.svg %}</span></a>
      {% comment %}
      <a class="footer_link" id="footer_link--github" href="https://github.com/alexwlchan/">
        <span class="visually-hidden">GitHub</span>
        <span aria-hidden="true">{% include footer/github.svg %}</span></a>
      <a class="footer_link" id="footer_link--linkedin" href="https://www.linkedin.com/in/alexwlchan/">
        <span class="visually-hidden">LinkedIn</span>
        <span>{% include footer/linkedin.svg %}</span></a>
      {% endcomment %}
      <a class="footer_link" id="footer_link--kofi" href="https://ko-fi.com/alexwlchan">
        <span class="visually-hidden">Kofi</span>
        <span>{% include footer/kofi.svg %}</span></a>
    </div>
  </div>
</footer>
