<footer>
  <div id="footer_inner">
    <p>
      Copyright &copy; 2012&ndash;{{ site.time | date: "%y"  }} Alex Chan.
      Prose is <a id="footer__cc" href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a> licensed, code is <a id="footer__mit" href="https://opensource.org/licenses/MIT">MIT</a>.
      <a href="/about-the-site/" id="footer__about">About the site</a>.
    </p>

    <p>
      If you like my writing, perhaps <a id="footer__kofi" href="https://ko-fi.com/alexwlchan">buy me a coffee</a>?
    </p>

    <div id="contact_links">
      Get in touch:&nbsp;
      <ul class="dot_list">
        <li><a id="footer__email" href="{{ site.emails.personal | encode_mailto }}">email</a></li>
        <li><a id="footer__github" href="https://github.com/{{ site.social.github }}">github</a></li>
        <li><a id="footer__twitter" href="https://twitter.com/{{ site.social.twitter }}">twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
