<footer>
  <div id="footer_inner">
    <div>
      <p>
        This site is made with ❤︎ by Alex Chan (they/she).
        It’s shared under a&nbsp;<a href="https://creativecommons.org/licenses/by/4.0/">CC&nbsp;BY&nbsp;4.0</a> licence.
      </p>

      <p>
        Question, comment, or want to say thanks?
        <a href="mailto:alex@alexwlchan.net">alex@alexwlchan.net</a>
      </p>
    </div>

    <form
      action="https://buttondown.com/api/emails/embed-subscribe/alexwlchan"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.com/alexwlchan', 'popupwindow')"
    >
      <p>
        <label for="bd-email">Subscribe to my monthly newsletter:</label>
        <input type="email" name="email" id="bd-email" />
        <input type="submit" value="Subscribe" />
      </p>
    </form>
  </div>
</footer>
