{% if post.index.tint_color or post.theme.color %}
  {% if post.index.tint_color %}
    {% assign color = post.index.tint_color %}
  {% else %}
    {% assign color = post.theme.color %}
  {% endif %}
<style>
  #{{ post.slug }}.card {
    border-color: {{ color }};
  }

  #{{ post.slug }} .card_title {
    color: {{ color }};
  }



  {% if post.index.best_of %}
    #{{ post.slug }}.card {
      background: {{ color | rgba: 0.03 }};
    }

    #{{ post.slug }}.card a:hover {
      background: {{ color | rgba: 0.3 }};
    }

    #{{ post.slug }}.card.best_of {
      box-shadow: 0px 0px 7px {{ color | rgba: 0.6 }};
    }
  {% else %}
    #{{ post.slug }}.card a:hover {
      background: {{ color | rgba: 0.2 }};
    }
  {% endif %}
</style>
{% endif %}

{% if post.index.image %}
  {% assign image = post.index.image %}
{% elsif post.theme.image %}
  {% assign image = post.theme.image %}
{% else %}
  {% assign image = "" %}
{% endif %}

<li class="card{% if post.index.best_of %} best_of{% endif %}" id="{{ post.slug }}">
  <a href="{{ post.url }}">

    {% comment %}
      Intentionally omit the alt text on promos, so screen reader users
      don't have to listen to the alt text before hearing the title
      of the item in the list.

      See https://github.com/wellcomecollection/wellcomecollection.org/issues/6007

      The data-proofer-ignore attribute will exclude this from the linting
      that checks images have alt text.
      See https://github.com/gjtorikian/html-proofer#ignoring-content
    {% endcomment %}
    {% assign is_svg = image | endswith: ".svg" %}

    <p class="card_image">
      {% if is_svg %}
        {{ image | as_inline_svg }}
      {% else %}
        <img src="{{ image }}" alt="" data-proofer-ignore/>
      {% endif %}
    </p>

    <div class="card_metadata">
      <p class="card_title">{{ post.title | smartify }}</p>
      <p class="card_description">
        {{ post.summary | smartify }}
        {{ post.date | date: "%B&nbsp;%Y" }}.
      </p>
    </div>
  </a>
</li>