{% if post.index.tint_color or post.theme.color or is_index %}
  {% if post.index.tint_color %}
    {% assign color = post.index.tint_color %}
  {% elsif post.theme.color %}
    {% assign color = post.theme.color %}
  {% else %}
    {% assign color = "#d01c11" %}
  {% endif %}
<style>
  #post-{{ post.slug }}.card {
    border-color: {{ color }};
  }

  #post-{{ post.slug }} .card_title {
    color: {{ color }};
  }

  {% comment %}
  /* if post.index.best_of */
    #post-{{ post.slug }}.card {
      background: {{ color | rgba: 0.03 }};
    }

    #post-{{ post.slug }}.card a:hover {
      background: {{ color | rgba: 0.3 }};
    }

    #post-{{ post.slug }}.card.best_of {
      box-shadow: 0px 0px 7px {{ color | rgba: 0.6 }};
    }
  /* else */
  {% endcomment %}
    #post-{{ post.slug }}.card a:hover {
      background: {{ color | rgba: 0.2 }};
    }
  {% comment %}
  /* endif */
  {% endcomment %}
</style>
{% endif %}

<li
  class="card{% if post.index.best_of %} best_of{% endif %}"
  id="post-{{ post.slug }}"
  {%- if year %} data-post-year="{{ year }}"{% endif %}
  data-post-tags="{{ post.tags | join: ' ' }}"
>
  <a href="{{ post.url }}">
    <p class="card_image">
      {% card_image %}
    </p>

    <div class="card_metadata">
      <p class="card_title">
        {{ post.title | markdownify_oneline | smartify }}
      </p>
      <p class="card_description">
        {{ post.summary | smartify }}
      </p>
    </div>

    <div class="card_posting_date">
      <p>
        {{ post.date | date: "%-d %B&nbsp;%Y" }}
      </p>
    </div>
  </a>
</li>