{% if page.theme and page.theme.card_type %}
<meta name="twitter:card" content="{{ page.theme.card_type }}">
{% else %}
<meta name="twitter:card" content="summary">
{% endif %}
<meta name="twitter:site" content="@{{ site.social.twitter }}" />
<meta name="twitter:title" content="{{ page.title }}" />
{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% endif %}

{% if page.theme.image %}
<meta property="og:image" content="{{ site.url }}{{ page.theme.image }}" />
<meta name="twitter:image" content="{{ site.url }}{{ page.theme.image }}" />
{% else %}
<meta property="og:image" content="{{ site.url }}/images/profile.png" />
<meta name="twitter:image" content="{{ site.url }}/images/profile.png" />
{% endif %}

<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{{ page.title }}">
{% if page.summary %}
<meta property="og:description" content="{{ page.summary }}" />
{% endif %}
