{% assign tweet_id = tweet_data["id_str"] %}
{% assign name = tweet_data["user"]["name"] %}
{% assign screen_name = tweet_data["user"]["screen_name"] %}

<div class="tweet">
  <blockquote>
  {% if tweet_data["extended_entities"]["media"].size == 1 %}

    {% assign media = tweet_data["extended_entities"]["media"][0] %}
    {% assign expanded_url = media["expanded_url"] %}

    <div class="media">
      <a href="{{ expanded_url }}">
        <img src=\"#{display_path(filename)}\">
      </a>
    </div>
  {% endif %}
    {{ tweet_data["extended_entities"]["media"].size }}


    {{ tweet_data["extended_entities"]["media"] }}
    <div class="header">
      <div class="author">
        <a class="link link_blend" href="https://twitter.com/{{ screen_name }}">
          <span class="avatar">
            <img src="#{display_avatar_path(avatar_url, screen_name)}" alt="Profile picture for @{{ screen_name }}">
          </span>
          <span class="name" title="{{ name }}">{{ name }}</span>
          <span class="screen_name" title="@{{ screen_name }}">@{{ screen_name }}</span>
        </a>
      </div>
    </div>
    <div class="body">
      <p class="text">#{text}</p>
      <div class="metadata">
        <a class="link_blend" href="https://twitter.com/{{ screen_name }}/status/{{ tweet_id }}">#{timestamp}</a>
      </div>
    </div>
  </blockquote>
</div>
