{% assign tweet_id = tweet_data["id_str"] %}
{% assign name = tweet_data["user"]["name"] %}
{% assign screen_name = tweet_data["user"]["screen_name"] %}

<div class="tweet">
  <blockquote>

  {% if tweet_data["extended_entities"]["media"].size > 0 %}
  <div class="media media-{{ tweet_data["extended_entities"]["media"]|size }}">
    {% for media in tweet_data["extended_entities"]["media"] %}
      {{ media | tweet_image: override_alt_text }}
    {% endfor %}
  </div>
  {% endif %}

    <div class="header">
      <div class="twitter_birb">
        <img alt="" src="data:image/svg+xml;charset=utf-8,{{ twitter_icon_svg }}" role="presentation">
      </div>
      <div class="author">
        <a class="link link_blend" href="https://twitter.com/{{ screen_name }}">
          <span class="avatar">
            <img src="{{ tweet_data | tweet_avatar_url }}" alt="Profile picture for @{{ screen_name }}">
          </span>
          <span class="name" title="{{ name }}">{{ name | replace_twemoji }}</span>
          <span class="screen_name" title="@{{ screen_name }}">@{{ screen_name }}</span>
        </a>
      </div>
    </div>
    <div class="body">
      <p class="text">{{ tweet_data | render_tweet_text | replace_twemoji }}</p>

      {% if tweet_data["quoted_status"] %}
      <a href="{{ tweet_data['quoted_status_permalink']['expanded'] }}">
        {% assign quoted_name = tweet_data["quoted_status"]["user"]["name"] %}
        {% assign quoted_screen_name = tweet_data["quoted_status"]["user"]["screen_name"] %}
        <div class="quoted_tweet">
          <div class="header">
            <div class="author">
              <span class="name" title="{{ quoted_name }}">{{ quoted_name }}</span>
              <span class="screen_name" title="@{{ quoted_screen_name }}">@{{ quoted_screen_name }}</span>
            </div>
          </div>
          <div class="body">
            <p class="text">{{ tweet_data["quoted_status"] | render_tweet_text | replace_twemoji }}</p>
          </div>
        </div>
      </a>
      {% endif %}

      <div class="metadata">
        <a class="link_blend" href="https://twitter.com/{{ screen_name }}/status/{{ tweet_id }}">{{ tweet_data | render_date_created }}</a>
      </div>
    </div>
  </blockquote>
</div>
