@mixin book_styles($color) {
  a { @include link_styles($color, 0.2); }
  h2.book_title { color: $color; }
}


.heading {
  display: grid;
  grid-template-columns: 140px auto;
  min-height: calc(140px + 1em);

  .book_info {
    display: grid;
    align-content: center;
  }
  
  .book_attribution {
    margin: 0;
  }

  .book_title {
    font-size: 1.5em;
    line-height: 1.4em;
    margin: 0;
    margin-top: 13px;
  }
  
  .book_meta {
    font-size: small;
    margin-top: 10px;
  }
}

/* The correct margin is applied by either the book cover or the
   heading text, whichever is lower */
.review_text p:first-child {
  margin-top: 0;
}

@media screen and (min-width: 500px) {
  .heading .book_cover img {
    margin-bottom: 1em;
  }

  .heading .book_info {
    padding-bottom: 1em;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    display: block;
  }

  .heading .book_title, .heading .book_attribution, .heading .book_meta {
    text-align: center;
  }
  
  .heading .book_title {
    margin-bottom: 5px;
  }
  
  .heading .book_meta {
    margin-top: 5px;
  }

  .heading .book_cover img {
    margin-bottom: 0;
  }
}
