@mixin book_styles($color) {
  a { @include link_styles($color, 0.2); }
  h2.book_title { color: $color; }

  img.book_cover {
    box-shadow: 0px 0px 5px rgba($color, 1);
  }
}

.book_review {
  display: grid;
  grid-template-columns: 140px auto;
  min-height: calc(140px + 1em);

  .book_info {
    display: grid;
    align-content: center;
  }

  .book_attribution {
    margin: 0;
  }

  .book_title {
    font-size: 1.5em;
    line-height: 1.4em;
    margin: 0;
    margin-top: 13px;
    font-style: italic;
  }

  .book_meta {
    font-size: small;
    margin-top: 10px;
    line-height: 1.5em;
  }

  @media screen and (min-width: 500px) {
    img.book_cover {
      margin-bottom: 1em;
    }
  }

  @media screen and (max-width: 500px) {
    display: block;

    .book_title,
    .book_attribution,
    .book_meta {
      text-align: center;
    }

    .book_title {
      margin-bottom: 5px;
    }

    .book_meta {
      margin-top: 5px;
    }

    img.book_cover {
      margin-bottom: 0;
    }
  }
}

/* The correct margin is applied by either the book cover or the
   heading text, whichever is lower */
.book_review + p {
  margin-top: 0;
}
