<style type="x-text/scss">
  @use "components/embed_microblog";
  @use "components/embed_tweets";
</style>

{% set tweet_id = post_data["id"] %}
{% set name = post_data["author"]["name"] %}
{% set screen_name = post_data["author"]["screen_name"] %}

<blockquote class="embed embed_tweet">

{% if "entities" in post_data and post_data["entities"]["media"]|count > 0 %}
<div class="media media-{{ post_data["entities"]["media"]|count }}">
  {% for media in post_data["entities"]["media"] %}
    {{ media|tweet_image }}
  {% endfor %}
</div>
{% endif %}

  <div class="header">
    <a class="author" href="https://twitter.com/{{ screen_name }}">
      <img class="avatar" src="{{ post_data | avatar_url }}" alt="">
      <span class="display_name">{{ name | replace_twemoji }}</span>
      <span class="handle">@{{ screen_name }}</span>
    </a>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72" class="logo" role="presentation" aria-hidden="true" width="34px" height="34px">
      <path class="icon" fill="#1da1f2" d="M68.812 15.14c-2.348 1.04-4.87 1.744-7.52 2.06 2.704-1.62 4.78-4.186 5.757-7.243-2.53 1.5-5.33 2.592-8.314 3.176C56.35 10.59 52.948 9 49.182 9c-7.23 0-13.092 5.86-13.092 13.093 0 1.026.118 2.02.338 2.98C25.543 24.527 15.9 19.318 9.44 11.396c-1.125 1.936-1.77 4.184-1.77 6.58 0 4.543 2.312 8.552 5.824 10.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163 0 6.345 4.513 11.638 10.504 12.84-1.1.298-2.256.457-3.45.457-.845 0-1.666-.078-2.464-.23 1.667 5.2 6.5 8.985 12.23 9.09-4.482 3.51-10.13 5.605-16.26 5.605-1.055 0-2.096-.06-3.122-.184 5.794 3.717 12.676 5.882 20.067 5.882 24.083 0 37.25-19.95 37.25-37.25 0-.565-.013-1.133-.038-1.693 2.558-1.847 4.778-4.15 6.532-6.774z"/>
    </svg>
  </div>

  <div class="body">
    <p class="text">{{ post_data | render_tweet_text | replace_twemoji }}</p>

    {% if "quoted_status" in post_data %}
      {% set quoted_id = post_data["quoted_status"]["id"] %}
      {% set quoted_name = post_data["quoted_status"]["author"]["name"] %}
      {% set quoted_screen_name = post_data["quoted_status"]["author"]["screen_name"] %}

      <blockquote class="quoted_post">
        <div class="author">
          <img class="avatar" src="{{ post_data["quoted_status"] | avatar_url }}" alt="">
          <span class="display_name">{{ quoted_name }}</span>
          <span class="handle">@{{ quoted_screen_name }}</span>
        </div>
        <p class="text">{{ post_data["quoted_status"] | render_tweet_text | replace_twemoji }}</p>
      </blockquote>
    {% endif %}
  </div>

  <p class="timestamp">
    <a href="https://twitter.com/{{ screen_name }}/status/{{ tweet_id }}">
      <time datetime="{{ post_data.date_posted.strftime("%Y-%m-%d") }}">
        {{- post_data.date_posted.strftime("%-I:%M&nbsp;%p · %-d %b %Y") -}}
      </time>
    </a>
  </p>
</blockquote>
