src/_files/* linguist-vendored

# This uses Git LFS for Keynote files.
#
# I don't use git-lfs for most of this repo because I have limited bandwidth
# in GitHub, and GitHub Actions would quickly gobble that up -- but I don't
# need to check out `assets/` in CI, so this is safe.
*.key filter=lfs diff=lfs merge=lfs -text
src/_files/2017/tweet_templates.key !filter !diff !merge text

assets/2024/announcing-til/scrabble.001.jpeg filter=lfs diff=lfs merge=lfs -text
assets/2024/announcing-til/family-2355697_1920.jpg filter=lfs diff=lfs merge=lfs -text
assets/2024/announcing-til/mental-health-2019924_1920.jpg filter=lfs diff=lfs merge=lfs -text
assets/2024/announcing-til/pexels-pixabay-326651.jpg filter=lfs diff=lfs merge=lfs -text
assets/2024/announcing-til/thanks-1804597_1920.jpg filter=lfs diff=lfs merge=lfs -text
assets/2024/announcing-til/win-1820037_1920.jpg filter=lfs diff=lfs merge=lfs -text
