---
---

@import "_settings.scss";
@import "_functions.scss";
@import "_mixins.scss";

aside {
  background: url('/assets/specktre_#{colorToHexString($primary-color)}.png') $primary-color;
  background-size: auto 100%;

  #aside_inner {
    @include central_element();

    &, a, a:visited {
      color: white;
    }
    a:hover {
      text-decoration: none;
    }

    #brand {
      margin-bottom: -5px;
      a {
        text-decoration: none;
      }
    }

    #aside_links ul {
      padding-top:    0px;
      padding-bottom: 0px;
      margin-bottom:  10px;
    }
  }
}