trigger:
- "live"

pr:
- "live"

pool:
  vmImage: "ubuntu-latest"

steps:

- script: "make build-drafts"
  displayName: "Build the site"

- script: "make lint"
  displayName: "Run linting"

- task: DownloadSecureFile@1
  inputs:
    secureFile: id_rsa
  condition: "eq(variables['Build.SourceBranch'], 'refs/heads/live')"
  displayName: "Download SSH key"

- script: |
    mkdir -p ~/.ssh
    cp $DOWNLOADSECUREFILE_SECUREFILEPATH ~/.ssh/id_rsa
    chmod 600 ~/.ssh/id_rsa

    ssh-keyscan -H github.com >> ~/.ssh/known_hosts

    # Even though Azure doesn't set anything in this file, it gets
    # mounted as a container volume by "make deploy".  If it doesn't
    # exist, Docker creates an empty directory and Git is unhappy.
    touch ~/.gitconfig

    git config user.name "Azure Pipelines on behalf of Alex Chan"
    git config user.email "azurepipelines_git@alexwlchan.fastmail.co.uk"

    make deploy

    git remote add ssh-origin git@github.com:alexwlchan/alexwlchan.net.git
    git push --verbose ssh-origin HEAD:live

  condition: "eq(variables['Build.SourceBranch'], 'refs/heads/live')"
  displayName: "Deploy to Linode and push new commits to GitHub"
