import /home/alexwlchan/repos/finduntaggedtumblrposts.com/Caddyfile

import caddy/book_redirects.Caddyfile
import caddy/til_redirects.Caddyfile

alexwlchan.net {
	import caddy/logging.Caddyfile
	import caddy/redirects.Caddyfile
	import caddy/gone.Caddyfile
	import caddy/projects.Caddyfile

	import caddy/errors.Caddyfile
	import caddy/caching_headers.Caddyfile
	import caddy/security_headers.Caddyfile

	# Enable compression for responses
	encode zstd gzip

	# Run a static file server for anything not yet handled
	root * /home/alexwlchan/repos/alexwlchan.net/_site
	file_server
}

# This redirects my other domain names to my primary domain name,
# to avoid diluting traffic between them.
alexwlchan.com, www.alexwlchan.com, alexwlchan.co.uk, www.alexwlchan.co.uk, www.alexwlchan.net {
	redir https://alexwlchan.net{uri} permanent
}
