alexwlchan-chives[browser_fixtures,fetch]>=46
beautifulsoup4
jinja2
lightningcss
lxml
minify-html
mistune
Pillow
pydantic
pygit2
Pygments
PyYAML

# For Mosaic tests
hypothesis
lxml-stubs
pytest-cov
pytest-xdist
ruff
ty

# For building Caddyfiles from templates
cogapp
