alexwlchan-chives[fetch]
beautifulsoup4
inquirerpy
jinja2
lightningcss
lxml
minify-html
mistune
playwright
Pillow
pydantic
pygit2
Pygments
PyYAML

# For Mosaic tests
coverage
hypothesis
lxml-stubs
mypy
pytest-xdist
ruff

# For building Caddyfiles from templates
cogapp

# For DNS tests
dnspython
