beautifulsoup4
httpx
hyperlink
jinja2
lightningcss
lxml
markdown
minify-html
Pillow
pydantic
Pygments
PyYAML
termcolor
tqdm

# For colormath
numpy

# For uptime tests
pytest

# For Mosaic tests
hypothesis
mypy
pytest-cov
pytest-xdist
ruff
types-Markdown
types-Pygments
types-PyYAML
types-tqdm
