<style type="x-text/scss">
  @use "components/article_links";
</style>

<ul class="alinks">
{%- for article in articles -%}
  <li
    {% if add_article_order is defined and add_article_order %}
    data-o="{{ article.order }}"
    {% endif %}
  ><h4><a href="{% if article.link_direct %}{{ article.link }}{% else %}{{ article.url }}{% endif %}">
      {{- article.title | markdownify_oneline -}}
    </a>
    <span class="meta">
    {% if article.topics %}{{- " · " -}}
    {{ article.topics[0] }}{% endif %}
    {{- " · " -}}
    {%- with date = article.date -%}
    {%- with date_format = '%-d %b %Y' -%}
      {%- include "partials/timestamp.html" -%}
    {%- endwith -%}
    {%- endwith -%}</span>
    </h4>

    {%- if article.summary -%}
      <p>
        {{- article.summary | markdownify_oneline -}}
      </p>
    {%- endif -%}
  </li>
{%- endfor -%}
</ul>