{#
  Note: in general I lean towards long, descriptive names for
  my CSS classes and variables, but this is a "hot" component
  which is used a lot, especially on the articles page.

  I'm going for shorter names here to reducde the overall size
  of the page.
#}
<li
  {% if article.colors %}
    style="
      --lt: {{- article.colors.index_light -}};
      --dk: {{- article.colors.index_dark -}}
    "
  {% endif %}
  {% if add_article_order is defined %}
  data-o="{{ article.order }}"
  {% endif %}
>
  <a href="{{ article.url }}">

    {{- "" -}}

    <div class="c_im{% if article.is_new %} n{% endif %}">
      {% if article.card_path %}
        {{ article | article_card_image }}
      {% else %}
        <img
          src="/images/default-card.png"
          alt=""
          loading="lazy"
        />
      {% endif %}
      {%- if article.is_new -%}
        <div class="new_banner">NEW</div>
      {%- endif -%}
    </div>

    {{- "" -}}

    <p class="c_t">
      {{- article.title | markdownify_oneline -}}
    </p>

    {{- "" -}}

    <p class="c_d">
      {{- article.summary | markdownify_oneline -}}
    </p>

    {{- "" -}}
  </a>
</li>