<style>
  @use "components/book_review_list";
</style>

{%- from "partials/star_rating.html" import star_rating -%}

<ul class="reviews">
{%- for rev in reviews -%}
  <li{% if not rev.review.summary %} class=" ns"{% endif %} style="--c-lt: {{ rev.colors.css_light }}; --c-dk: {{ rev.colors.css_dark }}">
    <a href="{{ rev.url }}">
    {#-
      The cover images get renamed, similar to the article cards,
      to reduce the overall size of the page.
    
      The bk_index counts the order in which I read the book that
      year, and then they're filed in a per-year folder.
    
      For example: images/b26/4 is the 4th book I read in 2026.
    
      TODO: We can make the <picture> quite a bit shorter here,
      and replace it with 1x/2x for the sizes attribute
    -#}
    <figure>
      {%- set bk_index = (reviews|count) - loop.index0 -%}
      {%- set parent = "/images/" + rev.review.date_read.year|string -%}
      
      {% if page.url == "/book-reviews/" %}
        {% set dst_prefix = "b/" + (rev.review.date_read.year-2000)|string + "/" + bk_index|string %}
      {% else %}
        {% set dst_prefix = "b/" + (rev.review.date_read.year-2000)|string + "/" + rev.slug %}
      {% endif %} 
      {%- set cover_image -%}
      {%
        picture
        filename=rev.cover_image.name
        height="75"
        parent=parent
        alt=""
        loading="lazy"
        dst_prefix=dst_prefix
        max_pixel_density=2
        size_based_on="density"
      %}
      {%- endset -%}
      {{- cover_image -}}
    </figure>{{- "" -}}
    </a>
  
    {{- "" -}}
  
    <p>
      <a href="{{ rev.url }}"><em>{{ rev.book.title }}</em></a>, {{ rev.attribution_line }} 
      {%- if page.url == "/ace-book-club/" and rev.slug == "song-of-the-huntress" %}
        {{ " " }}(February 2026)
      {%- elif page.url == "/ace-book-club/" and rev.slug == "how-to-be-a-normal-person" %}
        {{ " " }}(November 2023)
      {%- elif page.url == "/ace-book-club/" and rev.slug == "ace" %}
        {{ " " }}(October 2022)
      {%- elif page.url == "/ace-book-club/" and rev.slug == "loveless" %}
        {{ " " }}(September 2022)
      {%- elif page.url == "/ace-book-club/" %}
        {{ " " }}
        {%- if rev.review.did_not_finish -%}
          (did not finish, {{ rev.review.date_read.strftime("%B %Y") }})
        {%- else -%}
          ({{ rev.review.date_read.strftime("%B %Y") }})
        {%- endif -%}
      {%- elif rev.review.did_not_finish -%}
        {{ " " }}(did not finish)
      {%- endif -%}
    </p>
  
    {{- "" -}}
  
    {%- set description -%}
    <p>
      {%- if rev.review.summary -%}
        {{- rev.review.summary | smartify -}}
        {%- with rating = (rev.review.rating, 5) -%}
          {%- include "partials/star_rating.html" -%}
        {%- endwith -%}
        {% if rev.review.rating %}
          {{ " " }}{{ star_rating(rev.review.rating) }}
        {% endif %}
      {%- elif rev.review.rating -%}
        {{- star_rating(rev.review.rating) -}}
      {%- endif -%}
    </p>
    {%- endset -%}
  
    {{- description
        | replace('<p><span class="sr">★★☆☆☆</span></p>',
                  '<p class="sr">★★☆☆☆</p>')
        | replace('<p><span class="sr">★★★☆☆</span></p>',
                  '<p class="sr">★★★☆☆</p>')
        | replace('<p><span class="sr">★★★★☆</span></p>',
                  '<p class="sr">★★★★☆</p>')
        | replace('<p><span class="sr">★★★★★</span></p>',
                  '<p class="sr">★★★★★</p>')
    -}}
  </li>
{%- endfor -%}
</ul>
