{#
  Render the metadata at the top of each page.  This is shared across all
  templates so it's rendered consistently.

  Rough thinking behind order:

  * Permalink is always the last item because it's a different colour
  * Original date goes first on articles/TILs because it takes up roughly
    the same amount of space, whereas tags are variable length
  * Updated date goes last because it's only present on some articles and
    similarly has very variable length

#}

{%- if page.date is defined or
      (page.visible_tags is defined and page.visible_tags.size > 0) or
      page.meta is defined or
      page.date_updated is defined or
      page.link is defined -%}
<ul class="dot_list meta">
  {%- if page.visible_tags is defined and page.visible_tags|count > 0 -%}
  <li class="tags">Tagged with
    {% set tags = page.visible_tags | sort %}
    {%- for tag_name in tags -%}
      {% include "partials/tag_link.html" -%}
      {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
  </li>
  {%- endif -%}

  {%- if page.date is defined -%}
    {%- with date = page.date -%}
      <li>Posted {% include "partials/timestamp.html" -%}</li>
    {%- endwith -%}
  {%- endif -%}

  {%- if page.meta is defined -%}
    {%- for m in page.meta -%}
    <li>{{- m -}}</li>
    {%- endfor -%}
  {%- endif -%}

  {%- if page.date_updated -%}
    {%- with date = page.date_updated -%}
      <li>Last updated {% include "partials/timestamp.html" -%}</li>
    {%- endwith -%}
  {%- endif -%}

  {%- if page.link is defined -%}
    <li class="permalink"><a href="{{ page.url }}" aria-label="permalink">&infin;</a></li>
  {%- endif -%}
</ul>
{%- endif -%}