<style type="x-text/scss">
  @use "components/table_of_contents";
</style>

<blockquote class="table_of_contents">
  <h3>Table of contents</h3>

  <ul>
    {% for entry in toc_entries %}
      <li>
        <a href="#{{ entry.id }}">{{ entry.label }}</a>

        {% if entry.sub_headings|count > 0 %}
          <ul>
            {% for entry in entry.sub_headings %}
            <li><a href="#{{ entry.id }}">{{ entry.label }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {%- endfor -%}
  </ul>
</blockquote>
