<meta name="twitter:site" content="@alexwlchan">
<meta name="twitter:title" content="{{ safe_title | xml_escape | strip }}">

{% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary | xml_escape }}">
{% endif %}

{% if page.card.social %}
  {% assign year = page.date | date: "%Y" %}
  {% assign card_image = page.card.social %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}/images/cards/{{ year }}/{{ card_image }}">
  <meta property="og:image" content="{{ site.url }}/images/cards/{{ year }}/{{ card_image }}">
{% elsif page.card_image %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}{{ page.card_image }}">
  <meta property="og:image" content="{{ site.url }}{{ page.card_image }}">
{% else %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ site.url }}/images/profile_green_square.jpg">
  <meta property="og:image" content="{{ site.url }}/images/profile_green_square.jpg">
{% endif %}

<meta property="og:type" content="article">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{{ safe_title | xml_escape | strip }}">

{% if page.summary %}
  <meta property="og:description" content="{{ page.summary | xml_escape }}">
{% endif %}
