code, pre {
  font-family: var(--mono-font-family);
  overflow-x: auto;
}

pre code {
  background: none;
}

code {
  margin: 2px;
  border-radius: 3px;
  font-size: calc(1em * var(--code-scaling-factor));
}

pre {
  padding:
    calc(2 * var(--default-padding) / 3)
    calc(var(--default-padding) - var(--border-width));

  line-height: calc(var(--line-height) * var(--code-scaling-factor) * 1.08);

  // This ensures that code blocks don't get blown up to big sizes
  // on iPhone displays.
  -webkit-text-size-adjust: 100%;

  // This ensures the first line of <pre> blocks doesn't have a funny indent
  code {
    margin:       0px;
    padding-left: 0px;
  }
}
