@use "sass:math";

code, pre {
  font-family: $mono-font-family;
  overflow-x: auto;
}

pre code {
  background: none;
}

code {
  margin: 2px;
  border-radius: 3px;
  font-size: 1em * $code-scaling-factor;
}

// Disable selecting the $ or the following space in ``console`` code blocks.
// See https://alexwlchan.net/2021/10/console-copying/
.language-console {
  .gp, .gp + .w  {
    @include disable_select();
  }
}

pre {
  padding:
    calc(2 * var(--default-padding) / 3)
    calc(var(--default-padding) - var(--border-width));

  line-height: $default-line-height * $code-scaling-factor * 1.08;

  // This ensures that code blocks don't get blown up to big sizes
  // on iPhone displays.
  -webkit-text-size-adjust: 100%;

  // This ensures the first line of <pre> blocks doesn't have a funny indent
  code {
    margin:       0px;
    padding-left: 0px;
  }
}
