footer {
  padding-top:    15px;
  padding-bottom: 15px;
}

#footer_inner {
  p:not(:last-child) {
    margin-bottom: $meta-size * 1em;
  }

  p:not(:first-child) {
    margin-top: $meta-size * 1em;
  }

  display: grid;

  @media screen and (min-width: 600px) {
    grid-template-columns: auto auto;

    #footer_social {
      padding-top: $default-padding;
      text-align: right;
      margin-left: 1em;
    }

    .footer_link:not(:last-child) {
      margin-right: 5px;
    }

    .footer_link svg {
      width:  30px;
      height: 30px;
    }
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: auto;

    #footer_social {
      text-align: left;

      .footer_link:not(:first-child) {
        margin-left:  5px;
      }
    }

    .footer_link svg {
      width:  40px;
      height: 40px;
    }
  }
}

#footer_social {
  .footer_link:hover {
    background: none;
  }

  .footer_link .background   { fill: white; }
  .footer_link .accent       { fill: none;  }
  .footer_link:hover .accent { fill: white; }

  svg { display: inline; }
}

#footer_link--email:hover    .background { fill: #0067B9; }
#footer_link--rss:hover      .background { fill: #F99000; }
#footer_link--linkedin:hover .background { fill: #007EBB; }
#footer_link--github:hover   .background { fill: #24292f; }
#footer_link--twitter:hover  .background { fill: #1DA1F2; }
#footer_link--mastodon:hover .background { fill: #563ACC; }

#footer_link--kofi:hover #kofi_heart     { fill: #f14255; };
#footer_link--kofi:hover #kofi_circle    { fill: #50aee4; };
