footer {
  padding-top:    15px;
  padding-bottom: 15px;
}

#footer_inner {
  p:not(:last-child) {
    margin-bottom: $meta-size * 1em;
  }

  p:not(:first-child) {
    margin-top: $meta-size * 1em;
  }

  display: grid;

  @media screen and (min-width: 600px) {
    grid-template-columns: auto auto;

    #footer_social {
      padding-top: $default-padding;
      text-align: right;
      margin-left: 1em;
    }

    .footer_link:not(:last-child) {
      margin-right: 5px;
    }

    .footer_link, .footer_link svg {
      width:  30px;
      height: 30px;
    }
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: auto;

    #footer_social {
      text-align: left;

      .footer_link:not(:first-child) {
        margin-left:  5px;
      }
    }

    .footer_link, .footer_link svg {
      width:  40px;
      height: 40px;
    }
  }
}
