body {
  margin:  0;
  padding: 0;

  /* Pattern from https://www.toptal.com/designers/subtlepatterns/white-waves-pattern/,
     then contrast dropped */
  background-image: url('/theme/white-waves-transparent.png');

  /* This causes the footer to be pushed to the bottom of the viewport,
   * regardless of the size of the content.
   * See https://stackoverflow.com/q/643879/1558022 */
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
  }
}

main, #footer_inner, nav > *, #editing-toolbar_inner {
  @include centred(var(--max-width));

  padding-left:  calc(var(--default-padding) + env(safe-area-inset-left))  !important;
  padding-right: calc(var(--default-padding) + env(safe-area-inset-right)) !important;

  /* This line ensures the component grows to fill the window, even if
   * the content isn't as wide as the window. */
  width: calc(100vw - 2 * var(--default-padding) - env(safe-area-inset-left) - env(safe-area-inset-right));
}

#footer_inner {
  padding-top: 1px;
  padding-bottom: calc(1px + env(safe-area-inset-bottom));
}

img, video, svg, iframe, figure, article {
  margin-left: auto;
  margin-right: auto;
}

svg {
  display: block;
}

figcaption {
  margin-top: 8px;
}

pre, blockquote {
  border: var(--border-width) var(--border-style) var(--block-border-color);
  border-radius: var(--border-radius);
  background-color: var(--block-background-color);
}

img.screenshot, a.download {
  border-radius: var(--border-radius);
  border-style:  var(--border-style);
  border-width:  var(--border-width);
}

article, main {
  padding-top:    3px;
  padding-bottom: 2em;
}

img.screenshot {
  border-color: var(--border-width) var(--border-style) var(--screenshot-border-color);
}

.post_cards .card {
  /* This gives cards a v subtle solid background colour, to make them
   * stand out from the textured background.
   */
  background: #fafafa;
}

@media (prefers-color-scheme: dark) {
  body {
    /* Pattern from https://www.toptal.com/designers/subtlepatterns/white-waves-pattern/,
       then contrast dropped and colours flipped. */
    background-image: url('/theme/black-waves-transparent.png');
  }

  .post_cards .card {
    background: #0d0d0d;
  }

  // see https://web.dev/prefers-color-scheme/#re-colorize-and-darken-photographic-images
  img:not([src*='.svg']):not(.dark_aware) {
    filter: grayscale(10%);
  }

  // Add a white background behind images, so any dark elements become
  // visible.  Eventually I'd like to support uploading multiple variants
  // and make this conditional, but not in V1.
  img:not(.twemoji):not(.dark_aware), svg[role="img"]:not(.dark_aware) {
    background: white;
  }

  a.download img {
    background: none;
  }

  // fix for the separator on the homepage
  .separator svg[role="img"] {
    background: none;
  }
}

// Images never expand beyond the article bounds, and are centred when
// they're too small.
//
// Note: the block might seem redundant, but if you remove it the post cards
// get some extra space below the image.  TODO: Investigate.
img, video, figure {
  max-width: 100%;
  display: block;
}

iframe {
  display: block;
}

/* Elements that should have a left/right indent on wide screens (so they're
 * narrower than the rest of the content), but snap to the edge on narrow
 * screens. */
.indented,
blockquote,
pre,
a.download {
  margin-left:  var(--default-padding);
  margin-right: var(--default-padding);

  @media screen and (max-width: calc(var(--max-width) + var(--default-padding) * 3)) {
    margin-left:  0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 500px) {
  .eggbox-4 li:nth-child(4) {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .eggbox-4 li:nth-child(4) {
    display: none;
  }
}
