body {
  margin:  0;
  padding: 0;

  background-image: var(--background);

  /* This causes the footer to be pushed to the bottom of the viewport,
   * regardless of the size of the content.
   * See https://stackoverflow.com/q/643879/1558022 */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main, footer > *, nav > *, #editing-toolbar_inner {
  max-width:    var(--max-width);
  margin-left:  auto;
  margin-right: auto;

  padding-left:  var(--default-padding);
  padding-right: var(--default-padding);

  /* This line ensures the component grows to fill the window, even if
   * the content isn't as wide as the window. */
  width: calc(100vw - 2 * var(--default-padding) - env(safe-area-inset-left) - env(safe-area-inset-right));
}

img, video, svg, iframe, figure, article {
  margin-left:  auto;
  margin-right: auto;
}

svg {
  display: block;
}

figcaption {
  margin-top: 8px;
}

pre, blockquote {
  border: var(--border-width) var(--border-style) var(--block-border);
  border-radius: var(--border-radius);
  background-color: var(--block-background);
}

blockquote pre {
  border:     none;
  background: none;
  padding: 0;
}

a.download {
  border-radius: var(--border-radius);
  border-style:  var(--border-style);
  border-width:  var(--border-width);
}

article, main {
  padding-top:    3px;
  padding-bottom: 2em;
}


@media (prefers-color-scheme: dark) {
  /* see https://web.dev/articles/prefers-color-scheme#re-colorize_and_darken_photographic_images */
  img:not([src*='.svg']):not(.dark_aware) {
    filter: grayscale(10%);
  }

  /* Add a white background behind images, so any dark elements become
   * visible. */
  img:not(.twemoji):not(.dark_aware), svg[role="img"]:not(.dark_aware) {
    background: white;
  }

  a.download img {
    background: none;
  }
}

/* Images never expand beyond the article bounds, and are centred when
 * they're too small.
 *
 * Note: the block might seem redundant, but if you remove it the post cards
 * get some extra space below the image.  TODO: Investigate. */
img, video, figure {
  max-width: 100%;
  display: block;
}

iframe {
  display: block;
}

/* Elements that should have a left/right indent on wide screens (so they're
 * narrower than the rest of the content), but snap to the edge on narrow
 * screens. */
.indented,
a.download {
  margin-left:  var(--default-padding);
  margin-right: var(--default-padding);
}

@media screen and (max-width: calc(var(--max-width) + var(--default-padding) * 3)) {
  .indented,
  blockquote,
  pre,
  a.download {
    margin-left:  0px;
    margin-right: 0px;
  }
}
