nav {
  #nav_inner {
    h1 {
      margin-bottom: -5px;
      font-weight: normal;
      font-size: 1.7em;
      a {
        text-decoration: none;
      }
    }

    ul {
      padding-top:    0px;
      padding-bottom: 0px;
      margin-bottom:  10px;
    }
  }
}
