nav {
  background: var(--nav-background-url) var(--primary-color-light);
  background-size: auto 100%;

  #nav_inner {
    h1 {
      margin-bottom: -5px;
      font-weight: normal;
      font-size: 1.7em;
      a {
        text-decoration: none;
      }
    }

    ul {
      padding-top:    0px;
      padding-bottom: 0px;
      margin-bottom:  10px;
    }
  }

  @media print {
    background: none;
    border-bottom: var(--border-width) solid var(--primary-color-light);
    color: var(--primary-color-light);
  }
}
