@use "sass:math";

@import "variables.scss";

@import "_settings.scss";
@import "_functions.scss";
@import "mixins.scss";

h1, h2,
.title a:visited,
.post__permalink a,
.post__permalink a:visited {
  color: $primary-color-light;
}

a.download {
  border-color: $primary-color-light;

  // We need to override the background styles
  color: $primary-color-light !important;
  background: rgba(white, 0.4) !important;

  // Although this is supplied by the link style, we need to set it again
  // here because the `background` rule above overrides the `a:hover` rule.
  &:hover {
    background: rgba($primary-color-light, 0.2) !important;
  }
}

pre, blockquote {
  border-color: rgba($primary-color-light, 0.1);
  background-color: hsla(hue($primary-color-light), saturation($primary-color-light), 95%, 0.4);
}

#subscribe {
  border-color: $primary-color-light;
  background-color: hsla(hue($primary-color-light), saturation($primary-color-light), 80%, 0.4);

  input[type="submit"] {
    background-color: $primary-color-light;
  }
}

nav {
  background: url('/headers/specktre_#{colorToHexString($primary-color-light)}.png') $primary-color-light;
  background-size: auto 100%;
}

@media (prefers-color-scheme: dark) {
  h1, h2,
  .title a:visited,
  .post__permalink a,
  .post__permalink a:visited {
    color: $primary-color-dark;
  }

  a.download {
    border-color: $primary-color-dark;

    // We need to override the background styles
    color: $primary-color-dark !important;
    background: rgba(black, 0.6) !important;

    // Although this is supplied by the link style, we need to set it again
    // here because the `background` rule above overrides the `a:hover` rule.
    &:hover {
      background: rgba($primary-color-dark, 0.4) !important;
    }
  }

  pre, blockquote {
    border-color: rgba($primary-color-dark, 0.3);
    background-color: hsla(hue($primary-color-dark), saturation($primary-color-dark), 5%, 0.7);
  }

  #subscribe {
    border-color: $primary-color-dark;
    background-color: hsla(hue($primary-color-dark), saturation($primary-color-dark), 25%, 0.7);

    input[type="submit"] {
      background-color: $primary-color-dark;
    }

    a {
      color: white;
    }
  }
}
