<!-- TODO: Put in the metadata for Twitter cards and OpenGraph metadata -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | smartlify | escape }} &ndash; {% endif %}{{ site.title | smartlify | escape }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">


  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  {% if page.theme and page.theme.color %}
  <link rel="stylesheet" href="/theme/style_{{ page.theme.color }}.css">
  <link rel="shortcut icon" type="image/png" href="/theme/favicon_{{ page.theme.color }}.png">
  <link rel="shortcut icon" type="image/x-icon" href="/theme/favicon_{{ page.theme.color }}.ico">
  {% else %}
  <link rel="stylesheet" href="/theme/style.css">
  <link rel="shortcut icon" type="image/png" href="/theme/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/theme/favicon.ico">
  {% endif %}

  {% if page.theme and page.theme.touch_icon %}
  <link rel="apple-touch-icon" href="/theme/apple-touch-icon_{{ page.theme.touch_icon }}.png">
  {% else %}
  <link rel="apple-touch-icon" href="/theme/apple-touch-icon.png">
  {% endif %}
</head>
