<link
  rel="preload"
  href="{{ site.url }}/theme/white-waves-transparent.png"
  as="image"
  type="image/png"
  media="(prefers-color-scheme: light)"
/>
<link
  rel="preload"
  href="{{ site.url }}/theme/black-waves-transparent.png"
  as="image"
  type="image/png"
  media="(prefers-color-scheme: dark)"
/>
<link
  rel="preload"
  href="{{ site.url }}/h/{{ primary_color_light }}.png"
  as="image"
  type="image/png"
  media="(prefers-color-scheme: light)"
/>
<link
  rel="preload"
  href="{{ site.url }}/h/{{ primary_color_dark }}.png"
  as="image"
  type="image/png"
  media="(prefers-color-scheme: dark)"
/>
