---
layout: page
---

<div style="margin-top: 0.75rem;">
  This is every post I&rsquo;ve ever written, organised by category.
  You can subscribe to my posts <a href="/atom.xml">as an Atom feed</a>.
  Enjoy!
</div>

<h3>Most recent 10 posts</h3>

{% assign posts = page.posts | slice: 0, 10 %}
{% include archive_list.html %}

{% for group in page.grouped_posts %}
  {% assign grp_category = group[0] %}
  {% assign posts = group[1] %}
  <h3 id="{{ grp_category | slugify }}">{{ grp_category }}</h3>

  {% include archive_list.html %}
{% endfor %}
