---
layout: default
---
{% if page.title != "" %}
<h1 class="title">
  <a class="novisited" href="{{ page.url | relative_url }}">{{ page.title | smartify | escape }}</a>
</h1>
{% endif %}

{% if page.date_updated or page.meta %}
<div class="meta">
  <ul class="dot_list">
    {% if page.date_updated %}
    <li class="page__date">Last updated {{ page.date_updated | date: site.date_format }}</li>
    {% endif %}
    {% for m in page.meta %}
    <li>{{ m }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{{ content | cleanup_text | smartify | pretty_hr }}
