---
layout: default
---
<style>
  .title a {
    text-decoration: underline;
  }

  .title + .article_cards {
    margin-top: 2.5em;
  }

  article.til {
    p.summary { font-weight: bold; }
  }

  .article_links > li {
    width: 100%;
  }

  .article_links h4 {
    font-weight: normal;
    margin-bottom: 5px;
  }

  .article_links p.summary {
    margin-top: 0;
    margin-left: 1.5em;
    margin-bottom: 0;
  }
</style>

<article>
  <h1 class="title">
    <a href="/tags/">Tags</a> » {{ page.tag }}
  </h1>

  {% if page.featured_posts.size > 0 %}
    {% include article_card_styles.html selected_articles=page.featured_posts %}

    <ul id="list_of_articles" class="plain_list article_cards">
    {% for article in page.featured_posts %}
      {% include article_card.html hide_date="true" %}
    {% endfor %}
    </ul>
  {% endif %}

  {% if page.remaining_posts.size > 0 %}
    <ul class="plain_list article_links">
    {% for article in page.remaining_posts %}
      <li>
        <h4><a href="{% if article.link_direct %}{{ article.link }}{% else %}{{ article.url }}{% endif %}">{% if article.layout == 'til' %}TIL: {% endif %}{{ article.title | markdownify_oneline }}</a></h4>

        {% if article.summary %}
          <p class="summary">{{ article.summary | markdownify_oneline }}</p>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</article>
