---
layout: default
---
{% if page.featured_posts.size > 0 %}
  <style type="x-text/scss">
    @use "components/article_cards";
  </style>
{% endif %}

<style>
  .title a {
    text-decoration: underline;
  }

  .title a:visited {
    color: var(--link-color);
  }

  .title + .article_cards {
    margin-top: 2.5em;
  }

  .tag_description {
    font-weight: bold;
  }
</style>

<article>
  <hgroup>
    <h1 class="title">
      <a href="/tags/">Tags</a>
      {% if page.namespace != "" %}
      » <a href="/tags/{{ page.namespace }}/">{{ page.namespace }}</a>
      {% endif %}
      » {{ page.tag_name }}
    </h1>

    <p class="meta">
      {% assign total_posts = page.featured_posts.size | plus: page.remaining_posts.size %}
      {{ total_posts }} post{% if total_posts > 1 %}s{% endif %}
    </p>
  </hgroup>

  {% if site.data.tag_descriptions[page.tag_name] %}
  <p class="tag_description">
    {{ site.data.tag_descriptions[page.tag_name] | markdownify_oneline }}
  </p>
  {% endif %}

  {% if page.featured_posts.size > 0 %}
    {% include article_cards.html articles=page.featured_posts %}
  {% endif %}

  {% if page.remaining_posts.size > 0 %}
    {% include article_links.html articles=page.remaining_posts %}
  {% endif %}
</article>

