{#
  We want to intersperse two types of post:

  * featured articles (shown as cards)
  * everything else (shown as links)
  
  I want to maintain loose chronological order, but it's not strict.
  
  The idea is the page goes
  
    [card][card]
    - link
    - link
    - link
    [card][card]
    - link
    - link
    - link
    - link
    [card][card]
  
#}

{% from "macros/article_cards.html" import article_cards %}
{% from "macros/post_links.html" import post_links %}

{%- macro list_of_posts(posts) -%}
<style>
  @use "components/list_of_posts";
</style>

<div id="list_of_posts">
  {%- for group in posts|group_list_of_posts -%}
    {%- if group.type == 'featured' -%}
      {{- article_cards(articles=group.posts) -}}
    {%- else -%}
      <section class="links">{{- post_links(posts=group.posts) -}}</section>
    {%- endif -%}
  {%- endfor -%}
</div>

<script>  
  function arrangeCards() {
    console.debug("Calling arrangeCards()");

    /* https://stackoverflow.com/a/11744120/1558022 */
    const width = window.innerWidth || document.documentElement.clientWidth ||
    document.body.clientWidth;

    const cardCount = width < 1000 ? 2 : 3;
    console.debug(`Based on window width, show ${cardCount} cards in a row`);

    if (Number(document.querySelector("#list_of_posts").getAttribute("data-card-count")) === cardCount) {
      console.debug("This is the same as the existing layout; do nothing");
      return;
    }

    console.debug("This is different to the existing layout; change the page");

   /* First reconstruct the "site.posts" array based on the HTML already
    * on the page.  We're going to just shuffle the HTML elements around;
    * not rearrange the whole thing. */
   const allFeaturedPosts = [...document.querySelectorAll('.acards ul > li')]
     .map(function(elem) {
       return {
         'elem': elem,
         'type': 'featured',
         'order': Number(elem.getAttribute('data-d'))
       };
     });
   const allRemainingPosts = [...document.querySelectorAll('.plinks ul > li')]
     .map(function(elem) {
       return {
         'elem': elem,
         'type': 'remaining',
         'order': Number(elem.getAttribute('data-d'))
       };
     });

   const posts = allFeaturedPosts.concat(allRemainingPosts)
     .sort((a, b) => b.order - a.order);

   /* Now re-implement the sorting logic. */
   const container = document.createElement("div");
   container.setAttribute("id", "list_of_posts");

   var featuredPosts = [];
   var remainingPosts = [];

   posts.forEach(function(p) {
     // note: why am I not using an elif here?
     // to satisfy `minify_html`
     // see https://github.com/wilsonzlin/minify-html/issues/242
     if (p.type === 'featured') {
       featuredPosts.push(p);
     }

     if (p.type !== 'featured') {
       remainingPosts.push(p);
     }

     if (featuredPosts.length !== cardCount) {
       return;
     }

     createArticleCards(container, featuredPosts);
     featuredPosts = [];

     /* If we display three cards horizontally, we want at least five links
      * between them.
      *
      * If we display two cards horizontally, we only need three links
      * between a row of cards.
      */
     const linksBetweenCards = cardCount === 3 ? 5 : 3;

     if (remainingPosts.length >= linksBetweenCards) {
       container.appendChild(createPostLinks(remainingPosts));
       remainingPosts = [];
     }
   });

   if (featuredPosts.length > 0) {
     createArticleCards(container, featuredPosts);
   }

   if (remainingPosts.length > 0) {
     container.appendChild(createPostLinks(remainingPosts));
   }

   document.querySelector('#list_of_posts').replaceWith(container);
   document.querySelector('#list_of_posts').setAttribute("data-card-count", cardCount);
  }
  
  /* Given a list of <li> elements for article cards, create a new <section>
   * element that contains those cards.
   *
   * This mirrors the `article_cards.html` template.
   */
  function createArticleCards(container, posts) {
    // If the last thing we added to the container was a list of cards,
    // continue appending to that list; otherwise, create a new list.
    const lastChild = container.lastChild;
    
    var ul;
    if (lastChild !== null && lastChild.classList.contains("acards")) {
      ul = lastChild.querySelector("ul");
    } else {
      const section = document.createElement("section");
      section.classList.add("acards");
      container.appendChild(section)
    
      ul = document.createElement("ul");
      section.appendChild(ul);
    }
    
    posts.forEach(p => ul.appendChild(p.elem));
  }
  
  /* Given a list of <li> elements for post links, create a new <section>
   * element that contains those cards.
   *
   * This mirrors the `post_links.html` template.
   */
  function createPostLinks(posts) {
    const section = document.createElement("section");
    section.classList.add("plinks");
    
    const ul = document.createElement("ul");
    section.appendChild(ul);
    
    posts.forEach(p => ul.appendChild(p.elem));
    
    return section;
  }

  window.addEventListener("DOMContentLoaded", arrangeCards);
  window.addEventListener("resize", arrangeCards);
</script>
{%- endmacro -%}