footer {
  padding-top:    15px;
  padding-bottom: 15px;
}

#footer_inner {
  p:not(:last-child) {
    margin-bottom: $meta-size * 1em;
  }

  p:not(:first-child) {
    margin-top: $meta-size * 1em;
  }
}

#footer_social {
  .footer_link:hover {
    background: none;
  }

  .footer_link .background   { fill: white; }
  .footer_link .accent       { fill: none;  }
  .footer_link:hover .accent { fill: white; }

  svg { display: inline; }
}
