/* Images on the site are usually the same width as the accompanying text.
 *
 * The text has certain constraints on width: it can't be too wide or
 * it becomes unreadable, and you want some left/right margins so it's
 * not pressed against the edge of the screen.
 *
 * This file contains two sets of styles to allow images to extend
 * beyond the width of the text:
 *
 *    - A `wide_img` can be wider than the text, so the image appears
 *      bigger on large screens.
 *
 *      This is useful on photography posts, where the images are the
 *      main focus.
 *
 *    - A `fullwidth_img` or `wide_img` can go edge-to-edge on small screens,
 *      i.e. phones.
 *
 *      This is applicable to any image, but images have to opt-in by using
 *      one of the two CSS classes.  It could be applied to any image in
 *      theory (e.g. a 500px wide image could extend into the margin when
 *      the screen is narrower than 500px), but that's more complicated.
 *
 *      For now, I'm happy for it to be opt-in on newer posts.
 *
 */

@use "sass:math";

$max-width-image-overflow: 200px;

$full-width-breakpoint: $max-width + $max-width-image-overflow + $default-padding * 2;
$gradual-width-breakpoint: $max-width + $default-padding * 2;

@media screen and (min-width: $full-width-breakpoint) {
  .wide_img {
    max-width: calc(100% + #{$max-width-image-overflow});
    margin-left:  -1 * math.div($max-width-image-overflow, 2);
    margin-right: -1 * math.div($max-width-image-overflow, 2);
  }

  .wide_img, .fullwidth_img {
    figcaption {
      padding-left:  calc(math.div($max-width-image-overflow, 2) + env(safe-area-inset-left));
      padding-right: calc(math.div($max-width-image-overflow, 2) + env(safe-area-inset-right));
    }
  }
}

@media screen and (min-width: $gradual-width-breakpoint) and (max-width: $full-width-breakpoint) {
  .wide_img {
    // Screen size less padding on either side
    max-width: calc(100vw - #{2 * $default-padding});

    // 50% of the screen width, less the width of the text, less the padding
    margin-left:  calc(#{$default-padding} + #{math.div($max-width, 2)} - 50vw);
    margin-right: calc(#{$default-padding} + #{math.div($max-width, 2)} - 50vw);
  }

  .wide_img, .fullwidth_img {
    figcaption {
      padding-left:  calc(50vw - #{$default-padding} - #{math.div($max-width, 2)} + env(safe-area-inset-left));
      padding-right: calc(50vw - #{$default-padding} - #{math.div($max-width, 2)} + env(safe-area-inset-right));
    }
  }
}
