body, .post_cards .card a .card_description {
  color: $body-color-light;
}

h1, h2, h3, p.card_title {
  font-weight: normal;

  /* See https://developer.chrome.com/blog/css-text-wrap-balance/ */
  text-wrap: balance;
}

h1 {
  font-size: 2em;
}

h2 {
  margin-top: 2em;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 0;
}

// These rules help with the positioning of footnote markers, although
// I'm not entirely sure how they work.
sup, sub {
  vertical-align: 0ex;
  position: relative;
}

sub {
  top: 0.8ex;
}

sup {
  bottom: 1ex;
}

.footnotes {
  font-size:   $default-font-size   * $scaling-factor;
  line-height: $default-line-height * $scaling-factor;
}

.title {
  font-size: 1.9em;
  line-height: 1.45em;
  a {
    text-decoration: none;
  }
  &.linkpost_title {
    font-size: 1.17em;
    line-height: 1.35em;
    padding-top: 12px;
    a {
      text-decoration: underline;
    }
    &::after {
      content: "→";
    }
  }
  margin-bottom: -6px;
}

.title.linkpost_title::after {
  color: $accent-grey-light;
}

@media (prefers-color-scheme: dark) {
  body, .post_cards .card a .card_description {
    color: $body-color-dark;
  }

  .post_cards .card .card_posting_date p,
  .title.linkpost_title::after {
    color: $accent-grey-dark;
  }

  figcaption {
    color: $accent-grey-dark;

    a, a:visited {
      color: $accent-grey-dark !important;
      &:hover {
        background: rgba($accent-grey-dark, 0.2) !important;
      }
    }
  }
}