@import "_settings.scss";
@import "_brands.scss";
@import "_functions.scss";
@import "_mixins.scss";

@import "_layout.scss";
@import "_text.scss";

// Major page components
@import "_aside.scss";
@import "_footer.scss";
@import "_pagination.scss";

// Template-specific styles
@import "_archive.scss";
@import "_index.scss";
@import "_page.scss";
@import "_post.scss";

// Minor/optional page components
@import "_code.scss";
@import "_pygments.scss";
@import "_tweets.scss";
@import "_updates.scss";
@import "_latex.scss";
@import "_figures.scss";

@import "_one_offs.scss";
