#pagination {
  @include central_element();

  ul {
    list-style-type: none;
    padding-left: 0px !important;

    // Ensure they all display in a line
    li {
      display: inline-block;
    }
  }

  // The extra padding is a bit of a fudge to cope with the fact that the
  // underline and line height mean the div isn't quite symmetrical.
  padding-top:    $default-padding / 2;
  padding-bottom: $default-padding * 3 - 5px;

  a:visited {
    color: $primary-color;
  }

  #pagination__newer {
    float: left;
  }

  #pagination__older {
    float: right;
  }
}
