blockquote {
  padding: 1px var(--default-padding);

  p:first-child { margin-top:    calc(2 * var(--default-padding) / 3); }
  p:last-child  { margin-bottom: calc(2 * var(--default-padding) / 3); }
}

/* These rules help with the positioning of footnote markers, although
 * I'm not entirely sure how they work. */
sup, sub {
  vertical-align: 0ex;
  position: relative;
}

sub {
  top: 0.8ex;
}

sup {
  bottom: 1ex;
}

.meta, figcaption, footer {
  font-size:   calc(var(--font-size)   * var(--meta-scaling-factor));
  line-height: calc(var(--line-height) * var(--meta-scaling-factor) * 1.15);

  a:hover {
    text-decoration-thickness: 3px;
  }
}

.footnotes {
  font-size:   calc(var(--font-size)   * var(--footnote-scaling-factor));
  line-height: calc(var(--line-height) * var(--footnote-scaling-factor));
}

.title {
  font-size: 1.9em;
  line-height: 1.45em;
  margin-bottom: -6px;
  a {
    text-decoration: none;
  }
  &.linkpost_title {
    font-size: 1.17em;
    line-height: 1.35em;
    padding-top: 12px;
    a {
      text-decoration: underline;
    }
    &::after {
      content: "→";
    }
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.title.linkpost_title::after,
.meta,
.meta a,
.meta a:visited,
figcaption,
figcaption a,
figcaption a:hover,
figcaption a:visited {
  color: var(--accent-grey);
}

.permalink a,
.permalink a:visited {
  color: var(--primary-color);
}
