body {
  font: var(--font-size) var(--text-font-family);
  line-height: var(--line-height);
  color: var(--body-text);
}

h1, h2, h3 {
  font-weight: normal;
  &:not(nav h1) {
    color: var(--primary-color);
  }
}

h1 {
  font-size: 2em;
}

h2 {
  margin-top: 2em;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 0;
}

p {
  text-wrap: pretty;
}

a {
  text-underline-offset: 2px;
  color: var(--link-color);
}

a:visited {
  color: var(--body-text);
}

h1 a:visited,
h2 a:visited,
h3 a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-skip-ink: none;
}

/* Add the URL after links when printing them */
@media print {
  main a[href]:after {
    content: " (" attr(href) ")"
  }

  .meta a[href]:after,
  .acards a[href]:after,
  .alinks a[href]:after {
    content: "";
  }
}

blockquote, .table_of_contents {
  margin-left:  0;
  margin-right: 0;
  padding: 1px var(--default-padding);
}

blockquote:not(.embed), .table_of_contents {
  p:first-child { margin-top:    calc(2 * var(--default-padding) / 3); }
  p:last-child  { margin-bottom: calc(2 * var(--default-padding) / 3); }
}

svg text {
  fill: currentColor;
}

math, mo, mi, mtext {
  font-family: var(--text-font-family);
}

/* These rules help with the positioning of footnote markers, although
 * I'm not entirely sure how they work. */
sup, sub {
  vertical-align: 0ex;
  position: relative;
}

sub {
  top: 0.8ex;
}

sup {
  bottom: 1ex;
}

.meta, figcaption, footer {
  font-size:   calc(var(--font-size)   * var(--meta-scaling-factor));
  line-height: calc(var(--line-height) * var(--meta-scaling-factor) * 1.15);

  a:hover {
    text-decoration-thickness: 3px;
  }
}

.footnotes {
  font-size:   calc(var(--font-size)   * var(--footnote-scaling-factor));
  line-height: calc(var(--line-height) * var(--footnote-scaling-factor));
}

.title {
  font-size: 1.9em;
  line-height: 1.45em;
  margin-bottom: -6px;
  a {
    text-decoration: none;
  }
  &.linkpost_title {
    font-size: 1.17em;
    line-height: 1.35em;
    padding-top: 12px;
    a {
      text-decoration: underline;
    }
    &::after {
      content: "→";
    }
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.title.linkpost_title::after,
.meta,
.meta a,
.meta a:visited,
figcaption,
figcaption a,
figcaption a:hover,
figcaption a:visited {
  color: var(--accent-grey);
}

.permalink a,
.permalink a:visited {
  color: var(--primary-color);
}
