$archive-left-column: 55px;
$archive-gutter-column: 15px;

.archive {
  list-style-type: none;
  padding-left: 0px !important;
  margin-bottom: 1.2em;

  .archive__date {
    width: $archive-left-column;
    float: left;
    display: inline-block;
    text-align: right;
  }
  .archive__url {
    margin-left: $archive-left-column + $archive-gutter-column;
  }
}
