.archive {
  margin-top: 1.2em;

  .archive__date {
    width: 68px;
    font-size: 0.85em;
    color: $accent-grey;
    text-align: right;
    vertical-align: top;
  }

  .archive__bestof {
    padding-left:  5px;
    padding-right: 5px;
    width: 12px;
    vertical-align: top;

    img {
      width: 12px;
      display: inline-block;
    }
  }
}
