$archive-left-column: 68px;
$archive-gutter-column: 15px;

.archive {
  margin-top: 1.2em;

  .archive__date {
    width: $archive-left-column;
    font-size: 0.85em;
    color: $accent-grey;
    text-align: right;
  }

  .archive__bestof {
    padding-left:  5px;
    padding-right: 5px;
    width: 12px;

    img {
      width: 12px;
      display: inline-block;
    }
  }
}
