@import "_settings.scss";

.post_cards {
  list-style-type: none;
  padding-left: 0px !important;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;

  .card {
    border: 2px solid $primary-color;
    border-radius: 14px;
    overflow: hidden;
  }

  .card.best_of {
    box-shadow: 0px 0px 7px rgba($primary-color, 0.6);
    border-width: 4px;
  }

  .card a {
    color: $body-color;
    text-decoration: none;
    display: block;
    height: 100%;
  }

  .card a .card_title {
    text-decoration: underline;
    color: $primary-color;
  }

  .card_image {
    margin-top: 0;
    margin-bottom: 0;

    img {
      aspect-ratio: 2 / 1;
    }
  }

  .card svg {
    max-width: 100%;
    max-height: 50%;

    // See https://stackoverflow.com/a/24626986/1558022
    display: block;
  }

  .card_metadata {
    padding-left:  1em;
    padding-right: 1em;
  }

  .card_title {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .card_description {
    margin-top: 0.5em;
    font-size: 85%;
    line-height: 1.45em;
    margin-bottom: 1em;
  }


  @media screen and (max-width: 500px) {
    & {
      grid-template-columns: auto;
    }
  }

  /* TODO: Can I get graceful resizing rather than a snapping behaviour? */

  @media screen and (min-width: 1000px) {
    & {
      grid-template-columns: auto auto auto;
      margin-left: -100px;
      margin-right: -100px;
    }
  }
}