code, pre {
  background-color: #f6f6f6;
  font-family: $mono-font;
  overflow-x: auto;
}

code {
  margin: 2px;
  padding: 3px 3px;
  font-size: 1em * $code-scaling-factor;
}

pre {
  padding: ($default-padding / 2) ($default-padding - $sidebar-border-width);
  line-height: $line-height * $code-scaling-factor * 1.08;

  border-left: $sidebar-border-width solid $midtone-gray;
  margin-left:  -$default-padding;
  margin-right: 0px;

  @media screen and (max-width: $max-width + $default-padding * 3) {
    margin-left: 0px;
  }

  // This ensures that code blocks don't get blown up to big sizes
  // on iPhone displays.
  -webkit-text-size-adjust: 100%;

  // This ensures the first line of <pre> blocks doesn't have a funny indent
  code {
    margin: 0px;
    padding-left: 0px;
  }
}

figure.highlight > pre,
figure.highlight > pre > code {
  background: none;
  border-left: none;
  padding: 0px;
}

figure.highlight > pre {
  font-size: 1em;
}

figure.highlight {
  td {
    margin: 0px;
    padding: 0px;
    pre {
      margin-top:    0px;
      margin-bottom: 0px;
    }
  }

  pre.lineno {
    color: $accent-grey;
    @include disable_select();
  }

  td.code {
    pre {
      border-left: none;
    }
    width: 100%;
  }
}