figcaption {
  color: $accent-grey;

  /* We need !important so these styles don't get replaced by page theming */
  a, a:visited {
    color: $accent-grey !important;
    &:hover {
      background: rgba($accent-grey, 0.2) !important;
    }
  }

  font-size: $meta-font-size;
  margin-top: 8px;
  line-height: $meta-line-height;
}
