footer {
  background: $primary-color;

  @media print {
    display: none;
  }
}

#footer_inner {
  color: white;

  a, a:visited {
    @include link_styles(white, 0.5);
  }

  #footer_social {
    .footer_link:hover {
      background: none;
    }

    .footer_link .background {
      fill: white;
    }

    .footer_link       .accent { fill: none;  }
    .footer_link:hover .accent { fill: white; }

    #footer_link--email:hover    .background { fill: #0067B9; }
    #footer_link--rss:hover      .background { fill: #F99000; }
    #footer_link--twitter:hover  .background { fill: #1DA1F2; }
    #footer_link--linkedin:hover .background { fill: #007EBB; }
    #footer_link--github:hover   .background { fill: #24292f; }

    #footer_link--kofi:hover #kofi_heart     { fill: #f14255; };
    #footer_link--kofi:hover #kofi_circle    { fill: #50aee4; };
  }
}
