body {
  margin:  0;
  padding: 0;

  /* Pattern from https://www.toptal.com/designers/subtlepatterns/white-waves-pattern/,
     then contrast dropped */
  background-image: url('/theme/white-waves-transparent.png');
}

article {
  @include central_element();
  padding-top:    3px;
  padding-bottom: 15px;
}

.dot_list {
  list-style-type: none;
  padding-left: 0px !important;

  // Ensure they all display in a line
  li {
    display: inline;
    &:not(:first-child)::before {
      content: " · ";
    }
  }
}

hr {
  background-color: $light-grey;
  height: 1px;
  border: 0px;
}

// Images never expand beyond the article bounds, and are centred when
// they're too small.
img, video {
  @include centred(100%);
  display: block;
}

svg {
  margin-left: auto;
  margin-right: auto;
}

iframe {
  display: block;
  margin-left:  auto;
  margin-right: auto;
}
