body {
  /* Pattern from https://www.toptal.com/designers/subtlepatterns/white-waves-pattern/,
     then contrast dropped */
  background-image: url('/theme/white-waves-transparent.png');
}

img.screenshot {
  border-color: $light-grey;
}

svg[role="separator"] rect {
  fill: $midtone-gray;
}
