@use "sass:math";

@import "variables.scss";
@import "mixins.scss";

a.download {
  border-color: var(--link-color);

  // We need to override the background styles
  color: var(--link-color) !important;
  background: rgba(white, 0.4) !important;
}
