@mixin centred($max-width) {
  max-width: $max-width;
  margin-left:  auto;
  margin-right: auto;
}

@mixin central_element() {
  @include centred($max-width);
  padding: 1px $default-padding;
}

@mixin disable_select() {
  // Disable text selection highlighting
  // https://stackoverflow.com/a/4407335/1558022
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@mixin link_styles($color, $opacity) {
  color: $color;
  &:hover {
    background: rgba($color, $opacity);
  }
}
