nav {
  background: url('/headers/specktre_#{colorToHexString($primary-color)}.png') $primary-color;
  background-size: auto 100%;
  @media print {
    background: none;
    border-bottom: 2px solid $primary-color;
  }

  #nav_inner {
    color: white;

    @media print {
      color: $primary-color;
    }

    a, a:visited {
      @include link_styles(white, 0.5);

      @media print {
        color: $primary-color;
      }
    }

    h1 {
      margin-bottom: -5px;
      font-weight: normal;
      font-size: 1.7em;
      a {
        text-decoration: none;
      }
    }

    ul {
      padding-top:    0px;
      padding-bottom: 0px;
      margin-bottom:  10px;
    }
  }
}
