// Used for bits of CSS that are used as one-offs.

// Used in /2017/01/experiments-with-ao3-and-python/
.ao3_error {
  margin: .643em auto;
  padding: .25em .375em;
  border-radius: .25em;
  background: #efd1d1;
  box-shadow: 1px 1px 2px;
  border: 1px solid $ao3-red;
  color: $ao3-red;
  font-size: .85em;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'GNU Unifont', Verdana, Helvetica, sans-serif;
  font-style: normal;
}

// Used in /2014/11/ranged-strings/
.exampleurl { padding-left: 30px; }
