.continue_reading {
  font-weight: bold;
  &::after {
    content: "→";
  }
}

.post__separator {
  color: $light-grey;
  text-align: center;
  font-size: 2em;
  margin-top:    1em;
  margin-bottom: 1em;
}

.post__meta, .page__meta {
  margin-top: -10px;
  &, a, a:visited {
    color: $accent-grey;
  }
  font-size: $meta-font-size;
  .post__permalink a {
    &, &:visited {
      color: $primary-color;
    }
  }
}
