.post__meta, .page__meta {
  line-height: 1.45em;
  &, a, a:visited {
    color: $accent-grey;

    /* At least on my printer, $accent-grey is too light to be readable */
    @media print {
      color: black;
    }
  }

  a:hover {
    background: rgba($accent-grey, 0.2);
  }

  font-size: $meta-font-size;
  .post__permalink a {
    &, &:visited {
      color: $primary-color;
    }
  }
}
