// Code highlighting styles for Pygments.
//
// The bulk of this file was obtained by running:
//
//     pygmentize -S default -f html
//
// and pasting the output into this file.

pre {
  .hll { background-color: #ffffcc }
  .c { color: #408080; font-style: italic } /* Comment */

  // This style is deliberately disabled because sometimes it's either:
  //
  //    1. Wrong, or
  //    2. I'm deliberately writing code which is "broken" in some way
  //       to make a point, in which case the highlight is unhelpful.
  //
  //  .err { border: 1px solid #FF0000 } /* Error */

  /* Keyword, Keyword.{Constant, Declaration, Namespace, Reserved} */
  .k, .kc, .kd, .kn, .kr {
    color: #008000; font-weight: bold;
  }

  .o { color: #666666 } /* Operator */
  .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
  .cm { color: #408080; font-style: italic } /* Comment.Multiline */
  .cp { color: #BC7A00 } /* Comment.Preproc */
  .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
  .c1 { color: #408080; font-style: italic } /* Comment.Single */
  .cs { color: #408080; font-style: italic } /* Comment.Special */
  .gd { color: #A00000 } /* Generic.Deleted */
  .ge { font-style: italic } /* Generic.Emph */
  .gr { color: #FF0000 } /* Generic.Error */
  .gh { color: #000080; font-weight: bold } /* Generic.Heading */
  .gi { color: #00A000 } /* Generic.Inserted */
  .go { color: #888888 } /* Generic.Output */
  .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
  .gt { color: #0044DD } /* Generic.Traceback */
  .kp { color: #008000 } /* Keyword.Pseudo */
  .kt { color: #B00040 } /* Keyword.Type */
  .m { color: #666666 } /* Literal.Number */
  .s { color: #BA2121 } /* Literal.String */
  .na { color: #7D9029 } /* Name.Attribute */
  .nb { color: #008000 } /* Name.Builtin */
  .nc { color: #0000FF; font-weight: bold } /* Name.Class */
  .no { color: #880000 } /* Name.Constant */
  .nd { color: #AA22FF } /* Name.Decorator */
  .ni { color: #999999; font-weight: bold } /* Name.Entity */
  .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
  .nf { color: #0000FF } /* Name.Function */
  .nl { color: #A0A000 } /* Name.Label */
  .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
  .nt { color: #008000; font-weight: bold } /* Name.Tag */
  .nv { color: #19177C } /* Name.Variable */
  .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
  .w { color: #bbbbbb } /* Text.Whitespace */

  /* Literal.Number.{Bin, Float, Hex, Integer, Oct, Integer.Long} */
  .mb, .mf, .mh, .mi, .mo, .il {
    color: #666666;
  }

  /* Literal.String.{Affix, Backtick, Char, Delimiter, Doc, Double, Heredoc, Single} */
  .sa, .sb, .sc, .dl, .sd, .s2, .sh, .s1 {
    color: #BA2121;
  }

  /* Literal.String.Doc */
  .sd {
    font-style: italic;
  }

  .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
  .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
  .sx { color: #008000 } /* Literal.String.Other */
  .sr { color: #BB6688 } /* Literal.String.Regex */
  .ss { color: #19177C } /* Literal.String.Symbol */
  .bp { color: #008000 } /* Name.Builtin.Pseudo */
  .fm { color: #0000FF } /* Name.Function.Magic */

  /* Name.Variable.{Class, Globa, Instance, Magic} */
  .vc, .vg, .vi, .vm {
    color: #19177C;
  }
}

@media print {
  pre {
    .go {
      color: #555555;
    }
  }
}
