/// This file contains basic styles for body text on the site.
///
/// It applies across both pages and posts.  This file should not contain
/// styles about page layout or positioning.

@use "sass:math";

body {
  color: $body-color;
}

h1, h2 {
  color: $primary-color;
}

pre, blockquote {
  border-color: rgba($primary-color, 0.1);
  background-color: hsla(hue($primary-color), saturation($primary-color), 95%, 0.4);
}

.title {
  &.linkpost_title {
    &::after {
      color: $accent-grey;
    }
  }
  a:visited {
    color: $primary-color;
  }
}
