.update {
  border-color: $primary-color;
  background: #ffeeee;
  padding-top:    1px;
  padding-bottom: 1px;

  // Cancel out the styles added by standard blockquotes
  p {
    color: $body-color;
    font-style: normal;

    em {
      font-style: italic;
    }
  }
}
