.update {
  border-color: $primary-color;

  // Cancel out the styles added by standard blockquotes
  p {
    color: $body-color;
    font-style: normal;

    em {
      font-style: italic;
    }
  }
}
