.update {
  border-color: $primary-color;
  background: rgba(224, 11, 0, 0.1);
  padding-top:    1px;
  padding-bottom: 1px;

  // Cancel out the styles added by standard blockquotes
  p, li {
    color: $body-color;
    font-style: normal;

    em {
      font-style: italic;
    }
  }
}
