@mixin disable_select() {
  // Disable text selection highlighting
  // https://stackoverflow.com/a/4407335/1558022
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* This displays a display of images that are one on the left, two on
 * the right on wide screens, then a scrolling list on small screens.
 *
 *      AAAAAAA BBB
 *      AAAAAAA
 *      AAAAAAA CCC
 *
 *      AAAA
 *      BBBB
 *      CCCC
 *
 * See https://alexwlchan.net/2022/04/supposedly-simple-image-layout/
 *
 */
@mixin three_part_grid() {
  display: grid;
  grid-template-columns: calc(66% - 5px) calc(34% - 5px);
  grid-template-rows:    calc(50% - 5px) calc(50% - 5px);
  grid-gap: var(--grid-gap);

  div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row:    1 / span 2;
  }

  div:nth-child(2) {
    grid-column: 2 / 2;
    grid-row:    1 / 2;
  }

  div:nth-child(3) {
    grid-column: 2 / 2;
    grid-row:    2 / 2;
  }
  
  .picture_wrapper {
    width:  100%;
    height: 100%;
  }

  img {
    width:  100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: 500px) {
    aspect-ratio: 16 / 9;
  }

  @media screen and (max-width: 500px) {
    /* Disabling `display: grid;` fixes a weird bug where the first/second
     * photos end up overlapping entirely.
     */
    display: block;

    div:nth-child(2) {
      margin-top:    var(--grid-gap);
      margin-bottom: var(--grid-gap);
    }
  }
}
