/* ==================
 * Page layout styles
 * ==================
 *
 * This is a collection of styles that establish the basic layout of pages.
 *
 * My pages are laid out in a simple column view, with three components:
 *
 *     +------------+
 *     | global nav |
 *     +------------+
 *     |            |
 *     |   <main>   |
 *     |            |
 *     +------------+
 *     |  <footer>  |
 *     +------------+
 *
 */

body {
  margin:  0;
  padding: 0;

  /* Pattern from https://www.toptal.com/designers/subtlepatterns/white-waves-pattern/,
   * then contrast dropped */
  background-image: url('/static/white-waves-transparent.png');
}

/* The next two statements cause the footer to be pushed to the bottom of
 * the viewport, no matter how big the content is in the rest of the page.
 *
 * See https://stackoverflow.com/q/643879/1558022 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;

  padding-top:    1em;
  padding-bottom: 2em;
}

/* These statements ensure that the text is always a sensible width on the
 * page, and is centred with a good amount of space on either side. */
main, nav > *, footer > * {
  max-width: $max-width;

  margin-left:  auto;
  margin-right: auto;

  padding-left:  calc(#{$default-padding} + env(safe-area-inset-left));
  padding-right: calc(#{$default-padding} + env(safe-area-inset-right));

  /* This line ensures the component grows to fill the window, even if
   * the content isn't as wide as the window. */
  width: calc(100vw - 2 * #{$default-padding} - env(safe-area-inset-left) - env(safe-area-inset-right));
}
