@use "sass:math";

@import "variables.scss";
@import "mixins.scss";

@import "base/layout.scss";
@import "base/text.scss";

@import "base/nav.scss";
@import "base/footer.scss";
@import "base/code.scss";
@import "base/latex.scss";

// This is for the "Skip to main content" link at the top of the page
//
// See https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/
a.skip-main {
  position: absolute;
  left:     -999px;
  top:      auto;

  width:  1px;
  height: 1px;

  overflow: hidden;

  z-index: -999;
}

a.download {
  border-color: $primary-color;
  display: inline-block;
  text-decoration: none;
  padding: 15px 15px 25px 0.5em;


  img {
    height: 64px;
    display: inline-block;
    margin: -8px 0 -25px 0;
    padding-bottom: 0;
    padding-right: 5px;
  }
}

.slide {
  @include centred($max-width * 0.6);
}
