/* Links should be tinted with the primary colour, and darker if they've
 * been visited */

@mixin link_styles($color, $opacity) {
  color: $color;

  &:hover {
background: rgba($color, $opacity);
  }
}

a {
  @include link_styles($primary-color-light, 0.2);

  &:visited {
    @include link_styles(darken($primary-color-light, 15%), 0.2);
  }
}

@media (prefers-color-scheme: dark) {
  a {
    @include link_styles($primary-color-dark, 0.2);

    &:visited {
      @include link_styles(lighten($primary-color-dark, 15%), 0.1);
    }
  }
}

/* This style is for stuff that I want available to screen readers, but
 * not shown to sighted users.  I'm not sure where these rules come from;
 * I think I cobbled them together from various articles about accessibility.
 *
 * Uses of this class:
 *
 *    - in the footer
 *
 */
.visually-hidden {
  position: absolute;
  width:  1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
