/* ===========
 * Text styles
 * ===========
 *
 * This is a collection of styles that apply to all the text on the site.
 */

@use "sass:math";

body {
  font: 13pt $main-font-family;
  line-height: $line-height;
}

/* Links should be tinted with the primary colour, and darker if they've
 * been visited */

@mixin link_styles($color, $opacity) {
  color: $color;

  &:hover {
background: rgba($color, $opacity);
  }
}

a {
  @include link_styles($primary-color-light, 0.2);

  &:visited {
    @include link_styles(darken($primary-color-light, 15%), 0.2);
  }
}

@media (prefers-color-scheme: dark) {
  a {
    @include link_styles($primary-color-dark, 0.2);

    &:visited {
      @include link_styles(lighten($primary-color-dark, 15%), 0.1);
    }
  }
}

/* This style is for stuff that I want available to screen readers, but
 * not shown to sighted users.  I'm not sure where these rules come from;
 * I think I cobbled them together from various articles about accessibility.
 *
 * Uses of this class:
 *
 *    - in the footer
 *
 */
.visually-hidden {
  position: absolute;
  width:  1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* These styles are for light grey text which contains metadata that I
 * want to be less prominent than the rest of the body text.
 */
.meta, figcaption {
  font-size: $small-font-size;
  line-height: $small-line-height;

  color: $accent-grey-light;

  a {
    @include link_styles($accent-grey-light, 0.2);

    @media (prefers-color-scheme: dark) {
      @include link_styles($accent-grey-dark, 0.2);
    }
  }
}

figcaption {
  margin-top: 8px;
}

/* These styles are for code snippets. */

code, pre {
  font-family: $mono-font-family;
  overflow-x: auto;
}

pre code {
  background: none;
}

code {
  margin: 2px;
  border-radius: 3px;
  font-size: 1em * $code-scaling-factor;
}

/* These styles are for "blocks" -- snippets of content I brought in from
 * somewhere else.
 *
 * In particular, code snippets and quotes. */
pre, blockquote {
  font-family: $mono-font-family;

  border-radius: $border-radius;
  border-style:  $border-style;
  border-width:  $border-width;

  margin-left:  $default-padding;
  margin-right: $default-padding;

  @media screen and (max-width: $max-width + $default-padding * 3) {
    margin-left:  0;
    margin-right: 0;
  }

  border-color: rgba($primary-color-light, 0.1);
  background-color: hsla(hue($primary-color-light), saturation($primary-color-light), 95%, 0.4);

  @media (prefers-color-scheme: dark) {
    border-color: rgba($primary-color-dark, 0.3);
    background-color: hsla(hue($primary-color-dark), saturation($primary-color-dark), 5%, 0.7);
  }
}

pre {
  padding: 2 * math.div($default-padding, 3) ($default-padding - $border-width);

  line-height: $line-height * $code-scaling-factor * 1.08;

  /* This ensures that code blocks don't get blown up to big sizes
   * on iPhone displays. */
  -webkit-text-size-adjust: 100%;

  /* This ensures the first line of <pre> blocks doesn't have a funny indent. */
  code {
    margin:       0px;
    padding-left: 0px;
  }
}

blockquote {
  padding: 1px $default-padding;

  p:first-child { margin-top:    2 * math.div($default-padding, 3); }
  p:last-child  { margin-bottom: 2 * math.div($default-padding, 3); }
}
