/* TODO: Let's switch to Charter here */
$main-font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
$mono-font-family: Menlo, Consolas, monospace;

$primary-color-light: #d01c11;
$primary-color-dark:  #d01c11;

$body-color-light: #202020;
$body-color-dark:  #c7c7c7;

$accent-grey-light: #999;
$accent-grey-dark:  #878787;

$midtone-grey-dark:  #333;
$midtone-grey-light: #ccc;

$default-font-size: 1em;
$line-height:       1.5em;

$code-scaling-factor: 0.88;

/* Define a single "small" size for any text which is a notch down from
 * regular body copy. */
$small-size: 0.82;
$small-font-size:   $small-size * $default-font-size;
$small-line-height: $small-size * $line-height * 1.3;

$max-width:       750px;
$default-padding: 20px;

$border-radius: 10px;
$border-style: solid;
$border-width: 3px;
