@use "sass:color";
@use "utils/functions.scss" as *;

/* Why 751px and not 750px? To work around a subpixel bug in WebKit,
 * where I get a hairline crack on the right-hand side of my cards
 * in the two column view. :( */
$max-width: 751px;
$default-padding: 20px;

:root {
  /* ====================
   * Font and text styles
   * ==================== */
  --text-font-family: Charter, Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
  --mono-font-family: Menlo, Consolas, monospace;

  --font-size: 13pt;

  --line-height: 1.5em;

  --meta-scaling-factor:     0.82;
  --footnote-scaling-factor: 0.95;

  /* =============================
   * Margins and page layout stuff
   * ============================= */
  --max-width: #{$max-width};

  --grid-gap: 10px;

  --default-padding: #{$default-padding};

  --border-radius: 10px;
  --border-style:  solid;
  --border-width:  3px;
}

/* =====================================
 * Colours which are the same everywhere
 * ===================================== */

:root {
  --body-text-light: #202020;
  --body-text-dark:  #c7c7c7;
  
  --body-text:       var(--body-text-light);
  --primary-color:   var(--primary-color-light);
  --link-color:      var(--primary-color);

  --accent-grey: #999;

  --block-border:     #dfdfdf;
  --block-background: #f3f3f3;
  
  --screenshot-border: #f0f0f0;

  /* Background image for the page.
   * This is "White Waves Pattern" by Stas Pimenov, with reduced contrast
   * From https://www.toptal.com/designers/subtlepatterns/white-waves-pattern/
   */
  --background-image: url("https://alexwlchan.net/theme/white-waves-transparent.png");
  --background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-text:     var(--body-text-dark);
    --primary-color: var(--primary-color-dark);

    --accent-grey: #9a9a9a;

    --block-border:     #434343;
    --block-background: #1d1d1d;
    
    --screenshot-border: #3f3f3f;

    /* Background image for the page.
     * This is "White Waves Pattern" by Stas Pimenov, with the colours
     * flipped -- it's the same as the light background, but inverted.
     * From https://www.toptal.com/designers/subtlepatterns/white-waves-pattern/
     */
    --background-color: #0d0d0d;
    --background-image: url("https://alexwlchan.net/theme/black-waves-transparent.png");
  }
}

@media print {
  :root {
    --accent-grey: var(--body-text);

    /* Don't show the background texture when printing; it's not important */
    --background: none;
  }
}
