/*
 * Styles for the "article card" component.
 *
 * This is used on pages where I show a list of cards, which includes
 * the homepage, the list of articles, and tag pages.
 */

/* An article card can declare two colour variables:
 * --lt (light) and --dk (dark).
 *
 * These are used to tint the appearance of the card, if present. */
.acards {  
  --lt: #d01c11;
  --dk: #ff4242;
  
  ul > li {
    --c-color: var(--lt);
  }
}

@media (prefers-color-scheme: dark) {
  .acards ul > li {
    --c-color: var(--dk);
  }
}

.acards {
  background: var(--section-bg-color);
  width:       calc(100vw);
  margin-left: calc(50% - 50vw);
  
  ul {
    max-width: 1000px;
    justify-content: center;
    padding: var(--default-padding);
    margin: 0 auto;

    /* Define the grid columns: one column up to 450px, then two columns
     * up to 750px, then three columns. */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
    gap: 1em;
    
    & > li {
      border-radius: var(--border-radius);
      overflow: hidden;
      background: var(--background-color);
      border: var(--border-width) var(--border-style) var(--c-color);
      max-width: 450px;
    }
    
    & > li:hover .c_t {
      text-decoration-thickness: 4px;
    }
    
    & > li a {
      text-decoration: none;
      height: 100%;
      display: grid;
      grid-template-rows: auto auto auto 1fr;
    }
  }
  
  .c_t, .c_d, p.meta {
    padding: 16px;
  }

  .c_t {
    color: var(--c-color);
    text-decoration: underline;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 7px;
    font-weight: normal;
    text-wrap: balance;
  }

  .c_d {
    color: var(--body-text);
    margin: 0;
    padding-top: 0;
    font-size: 85%;
    line-height: 1.45em;
  }

  p.meta {
    margin-top: auto;
    padding-top:    0;
    padding-bottom: 0;
  }

  /* c_im = card_image_wrapper */
  .c_im {
    width: 100%;
    background: var(--c-color);
    margin-top: 0;
    margin-bottom: 0;
    aspect-ratio: 2 / 1;
  }

  /* cards with a "new" banner need extra rules */
  .c_im.n {
    position: relative;
    overflow: hidden;
  }

  .new_banner {
    position: absolute;

    transform: rotate(45deg);

    right:   -35px;
    top:      22px;
    padding: 2px 50px;

    background: var(--c-color);
    color:      white;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  @media (prefers-color-scheme: dark) {
    .new_banner {
      color: black;
    }
  }
}
