.breadcrumb {
  font-size: calc(var(--font-size)*var(--meta-scaling-factor));
  list-style-type: "";
  padding: 0;

  li {
    display: inline;
  }

  li::after {
    content: " » ";
  }
  
  a {
    color: var(--link-color);
  }
}

.meta .breadcrumb {
  display: inline-block;
  
  li:not(:last-child)::after {
    content: " » "
  }
  
  li:last-child::after {
    content: "";
  }
}