a.download {
  border: var(--border-width) var(--border-style) var(--primary-color);
  border-radius: var(--border-radius);
  background: var(--background-color);
  
  display: inline-block;
  text-decoration: none;
  padding: 15px 15px 25px 0.5em;
  
  /* We need to override the background styles */
  color: var(--link-color) !important;

  img {
    height: 64px;
    display: inline-block;
    margin: -8px 0 -25px 0;
    padding-bottom: 0;
    padding-right: 5px;
  }
}

@media (prefers-color-scheme: dark) {
  a.download img {
    background: none;
  }
}
