.embed_bluesky {
  --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
  
  --bluesky-blue: rgb(10, 122, 255);
  
  --background: white;
  --text:       black;
  --meta:       rgb(66, 87, 108);
  --border:     rgb(229, 231, 235);
  
  @media screen and (prefers-color-scheme: dark) {
    --background: rgb(30, 41, 54);
    --text:       rgb(226, 232, 240);
    --meta:       rgb(174, 187, 201);
    --border:     rgb(71, 85, 105);
  }
  
  --tint-color: var(--bluesky-blue);
  
  .avatar {
    border-radius: 50%;
  }
}
