.embed_tweet {
  --font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;

  --twitter-blue: #1da1f2;
  
  --background: white;
  --text:       #1c2022;
  --link:       #2b7bb9;
  --meta:       #697882;
  --border:     #e1e8ed;
  
  --tint-color: var(--twitter-blue);  
  
  @media (prefers-color-scheme: dark) {
    --background: #15202b;
    --text:       #e7e9ea;
    --link:       #6bc9fb;
    --meta:       #8b98a5;
    --border:     #425364;
  };
  
  .avatar {
    border-radius: 50%;
  }
  
  /* Undo all the padding applied by the default styles */
  .media {
    margin-left:   calc(-1 * var(--padding));
    margin-right:  calc(-1 * var(--padding));
    margin-top:    calc(-1 * var(--padding));
    margin-bottom: var(--padding);
  }

  .media {
    border-bottom: 1px solid var(--border);
  }

  .media-2, .media-3, .media-4 {
    display: grid;
    grid-gap: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .media-2 {
    grid-template-columns: 50% 50%;
    aspect-ratio: 564 / 317.25;

    /* 564 - 1px for the border = 56 */
    a {
      aspect-ratio: 281.5 / 317.25;
    }

    a:nth-child(1) {
      border-right: 1px solid var(--border);
    }
  }

  .media-3 {
    grid-template-columns: 50% 50%;
    grid-template-rows:    50% 50%;
    aspect-ratio: 2 / 1;

    a:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / span 2;
      border-right: 1px solid var(--border);
    }

    a:nth-child(2) {
      grid-column: 2 / 2;
      grid-row: 1 / 2;
    }

    a:nth-child(3) {
      grid-column: 2 / 2;
      grid-row: 2 / 2;
      border-bottom: 1px solid var(--border);
    }
  }

  .media-4 {
    grid-template-columns: 50% 50%;
    grid-template-rows:    50% 50%;
    aspect-ratio: 2 / 1;

    a:nth-child(1) {
      border-right: 1px solid var(--border);
      border-bottom: 1px solid var(--border);
    }

    a:nth-child(2) {
      border-bottom: 1px solid var(--border);
    }

    a:nth-child(3) {
      border-right: 1px solid var(--border);
    }
  }

  .twemoji {
    width:  1.2em;
    height: 1.2em;
    display: inline;
    vertical-align: -20%;
    margin-right: 0.075em;
    margin-left:  0.075em;
  }
}

blockquote .embed_tweet {
  margin-bottom: 1em;
}
