.embed_mastodon {
  --font-family: mastodon-font-sans-serif, sans-serif;

  --mastodon-purple: rgb(97, 97, 255);
  --background:      white;
  --text:            black;
  --meta:            #45455f;
  
  .avatar {
    border-radius: 4px;
  }
  
  @media screen and (prefers-color-scheme: dark) {
    --mastodon-purple: rgb(140, 141, 255);
    --background:      rgb(24, 24, 33);
    --text:            rgb(255, 255, 255);
    --meta:            #606085;
  }
  
  --link:       var(--mastodon-purple);
  --tint-color: var(--mastodon-purple);
  
  font-feature-settings: kern;
  font-weight:           400;
  text-rendering:        optimizelegibility;
}

@font-face {
    font-display: swap;
    font-family: mastodon-font-sans-serif;
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), url(/static/fonts/roboto-bold-webfont-2c18fe4b97519d62a0d6aad8ada1004f.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: mastodon-font-sans-serif;
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), url(/static/fonts/roboto-medium-webfont-3ed000c35f7afb8bd4ad7f46da85abbf.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: mastodon-font-sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), url(/static/fonts/roboto-regular-webfont-e6505d5d85943244ec91d5e3002791f2.woff2) format("woff2")
}
