.plinks ul {
  list-style-type: "";
  padding: 0;
  
  h4 {
    font-weight: normal;
    margin-bottom: 7px;
  }
  
  p {  /* description */
    margin-top: 0;
    margin-bottom: 0;
    font-size: 85%;
    line-height: 1.45em;
    
    /* There's at least one note where the description includes a long URL
     * which can overflow the page on narrow screens; force it to wrap. */
    code {
      word-wrap: anywhere;
    }
  }
}
