/* This CSS replaces my <hr> with a short line of grey squares.
 *
 * In light mode, these squares are lighter than the text.
 * In dark mode, they're the same colour.
 */
hr {
  --hr-background-image:   url("data:image/svg+xml;charset=UTF-8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 25 5%22 width=\%2225px\%22 height=\%225px\%22><rect width=\%225\%22 height=\%225\%22 fill=\%22%23ccc\%22/></svg>");

  @media (prefers-color-scheme: dark) {
    --hr-background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 25 5%22 width=\%2225px\%22 height=\%225px\%22><rect width=\%225\%22 height=\%225\%22 fill=\%22%23c7c7c7\%22/></svg>");
  }
}

hr {
  width:  105px;
  margin: 3.5em auto;
}

@media screen {
  hr {
    height: 5px;
    border: 0;

    background-image:  var(--hr-background-image);
    background-size:   contain;
    background-repeat: repeat-x;
  }
}
