/* Syntax highlighting styles. */
pre {
  --comments:    var(--red);
  --literals:    var(--magenta);
  --strings:     var(--green);
  --names:       var(--blue);
  --punctuation: var(--accent-grey);
  --mark:        var(--highlight);

  /* Comment, Comment.{Multiline, Single, Special} */
  .c, .cm, .c1, .cs {
    color: var(--comments);
  }
  
  /* Comment.Hashbang */
  .ch {
    color: var(--punctuation);
  }

  /* Numbers and booleans:
   *   Literal.Number, Literal.Number.{Bin, Float, Hex, Integer, Oct},
   *   Integer.Long,
   *   Keyword.{Constant, Reserved}
   *   Name.Constant
   */
  .m, .mb, .mf, .mh, .mi, .mo, .il, .kc, .kr, .no {
    color: var(--literals);
  }

  /* Strings:
   *   Literal.String, Literal.String.{Affix, Backtick, Char, Delimiter,
   *   …, Doc, Escape, Double, Heredoc, Interpol, Other, Regex, Single,
   *   …, Symbol} */
  .s, .sa, .sb, .sc, .dl, .sd, .se, .s2, .sh, .si, .sx, .sr, .s1, .ss {
    color: var(--strings);
  }

  /* Names:
   *   Attribute,Builtin,Builtin.Pseudo,Class,Constant,Decorator,Entity,
   *   …, Function,Function.Magic,Property,Label,Name,Other,Tag,
   *   …, Variable,Variable.{Class,Global,Instance,Magic}*/
  .n, .na, .nb, .bp, .nc, .no, .nd, .ni, .nf, .py, .nl, .nn, .nx, .nt,
  .nv, .vc, .vg, .vi, .vm {
    color: var(--names);
  }

  /* Punctuation, Generic.Output */
  .p, .go {
    color: var(--punctuation);
  }

  /* Rust-specific errors */
  .rustc_error   { color: var(--red); font-weight: bold; }
  .rustc_warning { color: var(--green); }
  .rustc_value   { color: var(--yellow); }
  .rustc_lineno  { color: var(--blue); }

  mark {
    background-color: var(--mark);
    padding:       2px 0;
    margin:       -2px 0;
    border-radius: 2px;
  }
}

/* In console snippets:
 *
 *    - don't allow selecting the $ or the following space
 *      See https://alexwlchan.net/2021/10/console-copying/
 *      See https://stackoverflow.com/a/4407335/1558022
 *    - color the prompt blue
 *
 * gp = Generic.Prompt, w = Whitespace
 */
.lng-console, .lng-irb, .lng-pycon, .lng-sqlite3 {
  .gp, .gp + .w {
    color: var(--blue);
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
}

/* Don't highlight the XML declaration at the top of an XML snippet.
 * cp = Comment.Preproc*/
.lng-xml .cp {
  color: var(--punctuation);
}

/* All my Caddy and Go-formatted code uses tabs; ensure it's a 4-wide tab
 * rather than 8-wide, which is the default stylesheet in Safari */
.lng-caddy,
.lng-go {
  tab-size: 4;
}

/* Highlight HTML and XML tags in blue.
 * Name.{Tag, Attribute} */
.lng-html, .lng-xml {
  .nt, .na {
    color: var(--names);
  }
}

.lng-css {
  /* Ignore keywords like `auto` and `space`. Keyword.Constant */
  .kc {
    color: var(--text);
  }
  
  /* Highlight CSS colours in magenta. Name.Constant */
  .no {
    color: var(--literals);
  }

  /* Highlight selectors in blue.
   * Name.{Class, Function, Tag, Literal, Property} */
  .nc, .nf, .nt {
    color: var(--names)
  };
}

.lng-diff {
  .gh, .gu { color: var(--blue);  }  /* Generic.{Heading, Subheading}  */
  .gd      { color: var(--red);   }  /* Generic.Deleted  */
  .gi      { color: var(--green); }  /* Generic.Inserted */
}

.lng-pycon {
  .gr, .gt { /* Generic.{Error,Traceback} */
    color: var(--punctuation);
  }
}

.lng-rust {
  .sd { /* String.Doc */
    color: var(--comments);
  }
}

/* These styles are for code blocks with line numbers, which are created
 * by my `syntax_highlighting` plugin. */
.annotated_code {
  --line-height: 29px;
  
  /* Every line is wrapped in a <div> with display: block (so it can
   * highlighted); we don't want the <pre> to insert additional newlines. */
  pre {
    white-space: collapse;
  }
  
  .ln {
    height:      var(--line-height);
    line-height: var(--line-height);
    white-space: pre;
  }
  
  /* Add a yellow highlight to selected lines. */
  .highlight {
    background: var(--highlight);
    margin-left: -8px;
    padding-left: 8px;
    border-radius: 3px;
  }
  
  .highlight + .highlight {
    border-top-left-radius:  0;
    border-top-right-radius: 0;
  }

  .highlight:has( + .highlight) {
    border-bottom-left-radius:  0;
    border-bottom-right-radius: 0;
  }
  
  /* Add some space at the end of the line, so when you scroll to the
   * right it remains in view. */
  .ln::after {
    content: " ";
  }
  
  .ln .lineno {
    display: inline-block;
    text-align: right;
    width:  calc(var(--lineno-digits) * 9px);
    color: var(--punctuation);

    /* Create a solid vertical line between line numbers and the code. */
    border-right: var(--border-width) solid var(--block-border-color);
   
    padding-right: 12px;
    margin-right:  12px;

    /* Disable text selection highlighting
     * https://stackoverflow.com/a/4407335/1558022 */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    a {
      color: var(--punctuation);
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
      text-decoration-thickness: 4px;
    }
    
    &.empty {
      font-weight: bold;
      text-align: center;
    }
  }

  figcaption {
    text-align: center;
    text-wrap: balance;
  }

  pre:has( + figcaption) {
    margin-bottom: 4px;
  }  
}
