table.block {
  width: 100%;
  border: var(--border-width) var(--border-style) var(--block-border-color);
  border-radius: var(--border-radius);
  background-color: var(--block-background);
  padding: var(--default-padding);
  
  /* Distinct table elements wrapped in <tbody> or <thead> get a border
   * below them. */
  tbody:not(:last-of-type),
  thead:not(:last-of-type) {
    tr:last-child > th,
    tr:last-child > td {
      padding-bottom: 10px;
      border-bottom: 2px solid var(--block-border-color);
    }
  }
  
  tbody:not(:first-child),
  thead:not(:first-child) {
    tr:first-child {
      th, td {
        padding-top: 10px;
      }
    }
  }
  
  th, td {
    padding-right: 1em;
    vertical-align: top;
  }

  pre {
    border:  none;
    padding: 0;
    margin: 0;
  }
}
