.article_cards {
  list-style-type: none;
  padding-left: 0px !important;
  display: grid;
  grid-gap: 1em;

  .card {
    border-width: 2px;
    border-style: solid;
    border-radius: 14px;
    overflow: hidden;
    background: var(--article-card-background);
    border: 2px var(--border-style) var(--c-color);

    --c-color: #d01c11;

    @media (prefers-color-scheme: dark) {
      --c-color: #ff4242;
    }

    &:hover .c_title {
      text-decoration-thickness: 4px;
    }
  }

  .card a {
    text-decoration: none;
    height: 100%;

    /* These styles ensure that the small "Posted" date on the bottom of the
     * cards always sits at the bottom of each card, even if there's a
     * different amount of text in each card.
     *
     * See https://stackoverflow.com/a/48406917/1558022
     */
    display: flex;
    flex-direction: column;

    .c_title {
      color: var(--c-color);
      text-decoration: underline;
      margin-top: 1em;
      margin-bottom: 0.5em;
      font-weight: normal;
    }
  }

  .c_image {
    margin-top: 0;
    margin-bottom: 0;
    aspect-ratio: 2 / 1;
  }

  .c_meta {
    padding-left:   1em;
    padding-right:  1em;
    padding-bottom: 1em;
  }

  .c_desc {
    color: var(--body-text);
    margin-top:    0.5em;
    margin-bottom: 0;

    font-size: 85%;
    line-height: 1.45em;
  }
}

/* This changes the number of columns based on the width of the
 * screen:
 *
 *             width <=  450px   ~> one column, for mobile devices
 *     450px < width <= 1000px   ~> two columns
 *    1000px < width             ~> three columns, ultra-width screens
 *
 * I'm using minimax(0, 1fr) to ensure the columns are the exact
 * same width, even if there's only one card in a collection.
 * See https://stackoverflow.com/q/47601564/1558022
 */
@media screen and (max-width: 450px) {
  .article_cards {
    grid-template-columns: auto;
  }
}

.article_cards {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}



@media screen and (min-width: 1000px) {
  .article_cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-left: -100px;
    margin-right: -100px;
  }
}
