/*
 * Styles for the "article card" component.
 *
 * This is used on pages where I show a list of cards, which includes
 * the homepage, the list of articles, and tag pages.
 */

.article_cards {
  list-style-type: none;
  padding-left: 0px !important;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: var(--grid-columns);
}

.article_cards .card {
  border-radius: var(--border-radius);
  overflow: hidden;
  background: var(--background-color);
  border: var(--border-width) var(--border-style) var(--c-color);

  /* An article card can declare two colour variables: --c-lt (light) and --c-dk (dark).
   * These are used to tint the appearance of the card, if present. */
  --c-lt: #d01c11;
  --c-dk: #ff4242;

  --c-color: var(--c-lt);
}

@media (prefers-color-scheme: dark) {
  .article_cards .card {
    --c-color: var(--c-dk);
  }
}

.article_cards .card:hover .c_title {
  text-decoration-thickness: 4px;
}

.article_cards .card a {
  text-decoration: none;
  height: 100%;
}

.c_meta {
  padding: 1em;
}

.c_title {
  color: var(--c-color);
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 7px;
  font-weight: normal;
}

/* c_im_w = card_image_wrapper */
.c_im_w {
  width: 100%;
  background: var(--c-color);
}

/* cards with a "new" banner need extra rules */
.c_im_w.n {
  position: relative;
  overflow: hidden;
}

.c_im_w, .c_image {
  margin-top: 0;
  margin-bottom: 0;
  aspect-ratio: 2 / 1;
}

.new_banner {
  position: absolute;

  transform: rotate(45deg);

  right:   -35px;
  top:      22px;
  padding: 2px 50px;

  background: var(--c-color);
  color:      white;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  .new_banner {
    color: black;
  }
}

.c_desc {
  color: var(--body-text);
  margin-top:    0.5em;
  margin-bottom: 0;
  font-size: 85%;
  line-height: 1.45em;
}

.article_cards {
  --grid-columns: repeat(2, minmax(0, 1fr));
}

/* This changes the number of columns based on the width of the
 * screen:
 *
 *             width <=  450px   ~> one column, for mobile devices
 *     450px < width <= 1000px   ~> two columns
 *    1000px < width             ~> three columns, ultra-width screens
 *
 * I'm using minimax(0, 1fr) to ensure the columns are the exact
 * same width, even if there's only one card in a collection.
 * See https://stackoverflow.com/q/47601564/1558022
 */
@media screen and (max-width: 450px) {
  .article_cards {
    --grid-columns: auto;
  }
}

@media screen and (min-width: 1000px) {
  .article_cards:not(.article_cards--1):not(.article_cards--2):not(.article_cards--4) {
    --grid-columns: repeat(3, minmax(0, 1fr));
    margin-left:  -100px;
    margin-right: -100px;

    /* In Safari 18.2, the <ul> won't automatically expand to the width
     * just because the margin is there -- we have to tell it to expand */
  
    /* Why 199px and not 200px? To work around a subpixel bug in WebKit,
     * where I get a hairline crack on the right-hand side of my cards
     * in the three column view. :( */
    width: calc(100% + 199px);
  }
}
