#list_of_articles {
  list-style-type: none;
  padding-left: 0px !important;
  display: grid;
  grid-gap: 1em;

  .article_card {
    border-width: 2px;
    border-style: solid;
    border-radius: 14px;
    overflow: hidden;

    /* This gives cards a v subtle solid background colour, to make them
     * stand out from the textured background. */
    background: #fafafa;

    @include card_light_styles(#d01c11);

    @media (prefers-color-scheme: dark) {
      @include card_dark_styles(#FF4242);
      background: #0d0d0d;
    }
  }

  .article_card a {
    text-decoration: none;
    height: 100%;

    /* These styles ensure that the small "Posted" date on the bottom of the
     * cards always sits at the bottom of each card, even if there's a
     * different amount of text in each card.
     *
     * See https://stackoverflow.com/a/48406917/1558022
     */
    display: flex;
    flex-direction: column;
  }

  .card_metadata {
    padding: 1em;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .card_title {
    text-decoration: underline;
    margin-bottom: 0.5em;
  }

  .card_description {
    font-size: 85%;
    line-height: 1.45em;

    color: $body-color-light;

    @media (prefers-color-scheme: dark) {
      color: $body-color-dark;
    }
  }

  .card_posting_date {
    color: $accent-grey-light;
    margin-top: auto;
    font-size: 75%;
  }

  /* This changes the number of columns based on the width of the
   * screen: one column on mobile devices, two on regular screens,
   * three on wider screens (bleeding into the margins).
   *
   * I'm using minimax(0, 1fr) to ensure the columns are the exact
   * same width, even if there's only one card in a collection.
   * See https://stackoverflow.com/q/47601564/1558022
   */

  @media screen and (max-width: 500px) {
    & {
      grid-template-columns: auto;
    }
  }

  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media screen and (min-width: 1000px) {
    & {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      margin-left: -100px;
      margin-right: -100px;
    }
  }
}
