code, pre {
  font-family: var(--mono-font-family);
  overflow-x: auto;
}

code {
  font-size: 88%;
}

/* When I use <code> in post titles, I need to make sure it doesn't
 * throw off the line spacing. */
h1 code {
  line-height: 88%;
}

pre {
  padding:
    calc(2 * var(--default-padding) / 3)
    calc(var(--default-padding) - var(--border-width));

  line-height: calc(var(--line-height) * 0.95);

  /* This ensures that code blocks don't get blown up to big sizes
   * on iPhone displays. */
  -webkit-text-size-adjust: 100%;
}

/* This ensures the first line of <pre> blocks doesn't have a funny indent */
pre code {
  margin:       0px;
  padding-left: 0px;
}

/* By default my <pre> blocks will scroll horizontally if they're very
 * long, but this allows me to force line wrapping instead. */
pre.wrap {
  text-wrap: wrap;
}
