.book_review {
  --book-color: var(--book-color-lt);
}

@media screen and (prefers-color-scheme: dark) {
  .book_review {
    --book-color: var(--book-color-dk);
  }
}

.book_review {
  display: grid;
  grid-template-columns: 140px auto;
  min-height: calc(140px + 1em);
}

.book_review .book_info {
  display: grid;
  align-content: center;
}

.book_review .book_attribution {
  margin: 0;
}

.book_review .book_title {
  font-size: 1.5em;
  line-height: 1.4em;
  margin: 0;
  margin-top: 13px;
  font-style: italic;
  color: var(--book-color);
}
  
.book_review a {
  color: var(--book-color);
}

.book_review .book_meta {
  font-size: small;
  margin-top: 10px;
  line-height: 1.5em;
}

@media screen and (min-width: 500px) {
  .book_review img.book_cover {
    box-shadow: 0px 0px 5px var(--book-color);
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 500px) {
  .book_review {
    display: block;
  }

  .book_review .book_title,
  .book_review .book_attribution,
  .book_review .book_meta {
    text-align: center;
  }

  .book_review .book_title {
    margin-bottom: 5px;
  }

  .book_review .book_meta {
    margin-top: 5px;
  }

  .book_review img.book_cover {
    margin-bottom: 0;
  }
}

/* The correct margin is applied by either the book cover or the
   heading text, whichever is lower */
.book_review + p {
  margin-top: 0;
}
