footer {
  padding-top:    15px;
  padding-bottom: calc(15px + env(safe-area-inset-bottom));

  font-size: calc(var(--meta-scaling-factor) * var(--font-size));

  /* The footer gets the primary accent colour as background, with white text.
   *
   * It looks the same in light/dark mode.
   */
  background: var(--primary-color-light);
}

footer,
footer a,
footer a:hover,
footer a:visited {
  color: white;
}

#footer_inner {
  display: grid;
  grid-template-columns: auto 280px;
  grid-gap: calc(5 * var(--grid-gap));
}

footer #bd-email {
  margin-top:    5px;
  margin-bottom: 5px;

  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;

  width: calc(100% - 6px);  /* offset the padding/border */
}

footer form input[type="submit"] {
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  background: var(--primary-color-light);
  margin-top: 3px;
}

footer form input[type="submit"]:active {
  transform: translate(0, 2px);
}

@media screen and (max-width: 520px) {
  #footer_inner {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  footer form p:first-child {
    margin-top: 0;
  }
}

@media print {
  footer {
    background: none;
    border-top: var(--border-width) solid var(--primary-color-light);
  }

  footer, footer a, footer a:visited {
    color: var(--primary-color-light);
  }

  #footer_inner {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  footer form {
    display: none;
  }
}
