footer {
  padding-top:    15px;
  padding-bottom: calc(15px + env(safe-area-inset-bottom));

  font-size: calc(var(--meta-scaling-factor) * var(--font-size));

  /* The footer gets the primary accent colour as background, with white text.
   *
   * It looks the same in light/dark mode.
   */
  background: var(--primary-color);
}

footer,
footer a,
footer a:hover,
footer a:visited {
  color: white;
}

@media (prefers-color-scheme: dark) {
  footer,
  footer a,
  footer a:hover,
  footer a:visited {
    color: black;
  }
}

@media print {
  footer {
    background: none;
    border-top: var(--border-width) solid var(--primary-color-light);
  }

  footer, footer a, footer a:visited {
    color: var(--primary-color-light);
  }

  footer #footer_links {
    display: none;
  }
}
