footer {
  padding-top:    15px;
  padding-bottom: calc(15px + env(safe-area-inset-bottom));

  font-size: $small-font-size;
  line-height: $small-line-height;

  /* The footer gets the primary accent colour as background, with white text.
   *
   * It looks the same in light/dark mode.
   */
  background: $primary-color-light;
  color: white;

  a, a:visited {
    @include link_styles(white, 0.5);
  }

  /* There are two lines of text in the footer, then a row of icons.
   *
   * On wide displays, I want the icons to float to the right.  On narrow
   * displays, I want the icons below the text.  I also make the icons
   * bigger, because it's probably a mobile display and I want nice big
   * touch targets.
   */
  div {
    display: grid;

    @media screen and (min-width: 720px) {
      grid-template-columns: auto auto;

      p {
        margin-top:    auto;
        margin-bottom: auto;
      }

      ul#footer_social_links { text-align: right; }

      svg {
        width:  30px;
        height: 30px;
      }
    }

    @media screen and (max-width: 720px) {
      p { margin-bottom: 0; }

      svg {
        width:  44px;
        height: 44px;
      }
    }
  }

  /* Add a bit of horizontal spacing between the icons. */
  ul#footer_social_links li:not(:last-child) a {
    margin-right: 5px;
  }

  /* Colour the icons correctly.
   *
   * Each icon contains two shapes:
   *
   *    - the `background` (the circle)
   *    - the `accent` (the cutout for the icon)
   *
   * In the default state, the background is white and the accent is
   * transparent, letting through the default footer colour.
   *
   * When you hover, we make the accent white and replace the background
   * with the brand colours, as a visual cue that it's the site you expect.
   */
  ul#footer_social_links a {
    .background { fill: white; }
    .accent     { fill: none;  }

    &:hover {
      .accent { fill: white; }

      /* Disable the default link hover styles */
      background: none;
    }

    &[href="mailto:alex@alexwlchan.net"]:hover              .background { fill: #0067B9; }
    &[href="https://alexwlchan.net/atom.xml"]:hover         .background { fill: #F99000; }
    &[href="https://twitter.com/alexwlchan"]:hover          .background { fill: #1DA1F2; }
    &[href="https://social.alexwlchan.net/@alex"]:hover     .background { fill: #563ACC; }
    &[href="https://github.com/alexwlchan/"]:hover          .background { fill: #24292f; }
    &[href="https://www.linkedin.com/in/alexwlchan/"]:hover .background { fill: #007EBB; }

    &[href="https://ko-fi.com/alexwlchan"]:hover #kofi_heart     { fill: #f14255; };
    &[href="https://ko-fi.com/alexwlchan"]:hover #kofi_circle    { fill: #50aee4; };
  }

  /* When you print the nav, remove the background and replace the white
   * with the same black as the body text. */
  @media print {
    background: none;
    border-top: $border-width solid $body-color-light;

    color: $body-color-light;
    a, a:visited { color: $body-color-light; }
  }
}