img, figure {
  /* Images never expand beyond the viewport by default, and they're centred
   * when narrower than their container. */
  max-width: 100%;
  display: block;
  margin-left:  auto;
  margin-right: auto;

  /* Screenshots get a light grey border around them. */
  &.screenshot {
    border-radius: $border-radius;
    border-style:  $border-style;
    border-width:  $border-width;
    border-color:  #f0f0f0;

    @media (prefers-color-scheme: dark) {
      border-color: #3f3f3f;
    }
  }
  
  /* Photos are "full-width" -- they'll fill the screen on narrow devices
   * (i.e. phones).
   *
   * This allows me to mark images as "full-width", in which case, they'll
   * fill the whole screen on narrow devices (e.g. mobile screens).
   *
   * There's a slight weirdness when the screen is exactly max-width; images
   * suddenly jump from having full margin to zero margin.  Ideally it would
   * gradually decrease as the screen narrows, but I'm going to leave it as-is
   * rather than worry too much about this edge case.
   */

  @media screen and (max-width: $max-width) {
    &.photo {
      width:        calc(100% + #{$default-padding} * 2 + env(safe-area-inset-left, 0px) + env(safe-area-inset-right, 0px));
      max-width:    calc(100% + #{$default-padding} * 2 + env(safe-area-inset-left, 0px) + env(safe-area-inset-right, 0px));
      margin-left:  calc(-1 * (#{$default-padding} + env(safe-area-inset-left,  0px)));
      margin-right: calc(-1 * (#{$default-padding} + env(safe-area-inset-right, 0px)));

      figcaption {
        padding-left:  calc(#{$default-padding} + env(safe-area-inset-left));
        padding-right: calc(#{$default-padding} + env(safe-area-inset-right));
      }
    }
  }

  
}