img {
  /* Images never expand beyond the viewport by default, and they're centred
   * when narrower than their container. */
  max-width: 100%;
  display: block;
  margin-left:  auto;
  margin-right: auto;

  /* Screenshots get a light grey border around them. */
  &.screenshot {
    border-radius: $border-radius;
    border-style:  $border-style;
    border-width:  $border-width;
    border-color:  #f0f0f0;

    @media (prefers-color-scheme: dark) {
      border-color: #3f3f3f;
    }
  }
}