nav {
  padding-top: calc(1px + env(safe-area-inset-top));
  padding-bottom: 1px;

  /* The nav gets the primary accent colour as background, with white text.
   *
   * It looks the same in light/dark mode.
   */
  background: var(--nav-background-url) var(--primary-color-light);
  background-size: auto 100%;

  h1 {
    margin-bottom: -5px;
    font-size: 1.7em;

    a {
      text-decoration: none;
    }
  }

  ul {
    padding-top:    0;
    padding-bottom: 0;
    margin-bottom: 14px;
  }

  &, a, a:visited {
    color: white;
  }

  /* Add an extra thick underline so you know which part of the site
   * you're in. */
  a[selected] {
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: none;
  }

  @media print {
    background: none;
    border-bottom: var(--border-width) solid var(--primary-color-light);

    &, a, a:visited { color: var(--primary-color-light); }
  }
}
