@use "../utils/functions";
@use "../variables";

/* This CSS replaces my <hr> with a short line of grey squares. */

@function create_svg($fill) {
  $fill: functions.str-replace("#{$fill}", '#', '%23');
  $output: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 5" width=\"25px\" height=\"5px\">' +
           "<rect width=\"5\" height=\"5\" fill=\"#{$fill}\"/>" +
           '</svg>';
  @return functions.str-replace($output, '"', '%22');
}

/* In light mode, these squares are lighter than the text.
 * In dark mode, they're the same colour.
 */
hr {
  $light-svg-url: create_svg(#ccc);
  $dark-svg-url:  create_svg(#c7c7c7);

  --hr-background-image:   url("data:image/svg+xml;charset=UTF-8,#{$light-svg-url}");

  @media (prefers-color-scheme: dark) {
    --hr-background-image: url("data:image/svg+xml;charset=UTF-8,#{$dark-svg-url}");
  }
}

hr {
  width:  105px;
  margin: 3.5em auto;
}

@media screen {
  hr {
    height: 5px;
    border: 0;

    background-image:  var(--hr-background-image);
    background-size:   contain;
    background-repeat: repeat-x;
  }
}
