article.til {
  p.summary { font-weight: bold; }
}

#list_of_tils {
  & > li {
    width: 100%;
  }

  h4 {
    font-weight: normal;
    margin-bottom: 5px;
  }

  p.summary {
    margin-left: 1.5em;
    margin-bottom: 0;
  }

  p#filter_status {
    display: none;
  }
}
