.tweet {
  display: block;
  font: normal normal 16px/1.4 Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;

  white-space: initial;

  overflow: hidden;
  cursor: pointer;
  
  /* Eyeballed against a real tweet embed */
  max-width:    496px;
  margin-left:  auto;
  margin-right: auto;

  /* ==============
   * Colour palette
   * ============== */
  --background-color:       white;
  --background-color-hover: #f7f9f9;
  --border-color:           #e1e8ed;
  --text-color:             #1c2022;
  --link-color:             #2b7bb9;
  --metadata-color:         #697882;

  @media (prefers-color-scheme: dark) {
    --background-color:       #15202b;
    --background-color-hover: #202731;
    --border-color:           #425364;
    --text-color:             #e7e9ea;  /* v light white */
    --link-color:             #6bc9fb;
    --metadata-color:         #8b98a5;
  }

  & {       background: var(--background-color)        }
  &:hover { background: var(--background-color-hover); }

  &, .quoted_tweet {
    border-radius: 4px;
    border: 1px solid var(--border-color);
  }

  &, .quoted_tweet, .name {
    color: var(--text-color);
  }

  a, a:visited {
    color: var(--link-color);
  }

  a, a:visited, a:active {
    text-decoration: none;
  }

  a:focus, a:not(.link):hover, .metadata a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
  }
  
  a.quote:hover {
    text-decoration: none;
  }

  .screen_name, .metadata, .metadata a, .metadata a:visited {
    font-size: 14px;
    color: var(--metadata-color);
  }

  .screen_name:before {
    white-space: pre;
    content: "\A"; /*\200e";*/
  }

  .name {
    font-weight: 700;
  }

  .text+.metadata {
    margin-top: 3.2px;
  }

  .text {
    white-space: normal;
    cursor: text;
  }

  .header, .body {
    padding: 20px;
  }

  .header {
    position: relative;
    padding-left: 65px;
    padding-bottom: 0px;
    white-space: nowrap;

    .twitter_birb {
      float: right;

      img {
        height: 20px;
      }

      @media (prefers-color-scheme: dark) {
        .icon {
          fill: white;
        }
      }
    }
  }

  .body {
    margin-top: 14px;
    padding-top: 0px;
    padding-bottom: 14px;
  }

  .media, img.media {
    border-bottom: 1px solid var(--border-color);
  }

  .media-2, .media-3, .media-4 {
    display: grid;
    grid-gap: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .media-2 {
    grid-template-columns: 50% 50%;
    aspect-ratio: 564 / 317.25;

    /* 564 - 1px for the border = 56 */
    a {
      aspect-ratio: 281.5 / 317.25;
    }

    a:nth-child(1) {
      border-right: 1px solid var(--border-color);
    }
  }

  .media-3 {
    grid-template-columns: 50% 50%;
    grid-template-rows:    50% 50%;
    aspect-ratio: 2 / 1;

    a:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / span 2;
      border-right: 1px solid var(--border-color);
    }

    a:nth-child(2) {
      grid-column: 2 / 2;
      grid-row: 1 / 2;
    }

    a:nth-child(3) {
      grid-column: 2 / 2;
      grid-row: 2 / 2;
      border-bottom: 1px solid var(--border-color);
    }
  }

  .media-4 {
    grid-template-columns: 50% 50%;
    grid-template-rows:    50% 50%;
    aspect-ratio: 2 / 1;

    a:nth-child(1) {
      border-right: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
    }

    a:nth-child(2) {
      border-bottom: 1px solid var(--border-color);
    }

    a:nth-child(3) {
      border-right: 1px solid var(--border-color);
    }
  }

  .author {
    margin-top: 2px;
    line-height: 0;
    max-width: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    word-wrap: normal !important;
    .name:hover {
      text-decoration: underline;
    }
    .link {
      line-height: 1.2;
    }
    .avatar {
      position: absolute;
      display: inline-block;
      top:  20px;
      left: 20px;
      width:  36px;
      height: 36px;
      overflow: hidden;
      background-color: transparent;
      border-radius: 50%;
      img {
        max-width:  100%;
        max-height: 100%;
      }
    }
  }

  .quoted_tweet {
    margin-top:    0.75em;
    margin-bottom: 0.75em;
    font-size: 90%;

    .body {
      margin-top: 0;
      padding: 9px;
      padding-top: 4px;

      .text {
        cursor: pointer;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .header {
      padding: 9px;
      padding-bottom: 0;

      .author {
        line-height: 1.2em;
      }

      .screen_name:before {
        content: "";
      }
    }
  }

  .twemoji {
    width:  1.2em;
    height: 1.2em;
    display: inline;
    vertical-align: -20%;
    margin-right: 0.075em;
    margin-left:  0.075em;
  }

  blockquote,
  p {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
  }

  img.media {
    margin-left: -20px;
    margin-top:  -20px;
    margin-bottom: 20px;
    width: calc(100% + 40px);
    max-width: calc(100% + 40px);
  }

  /* This overrides the coloured background applied to blockquotes elsewhere
   * on the site. */
  blockquote {
    background: none;
  }
}

blockquote .tweet {
  margin-bottom: 1em;
}
