{% extends "base.html" %}

{% from "macros/post_title.html" import post_title %}

{% block content %}
  <article class="note">    
    <hgroup>
      {{- post_title(page) -}}
      {% include "partials/meta.html" %}
    </hgroup>
    
    <style>
      .summary {
        font-weight: bold;
      }
    </style>
    
    {% if page.summary %}
      <p class="summary">
        {{ page.summary | markdownify_oneline | cleanup_text }}
      </p>
    {% endif %}

    {{ content | cleanup_text }}
  </article>
{% endblock %}
