{% extends "base.html" %}

{% block content %}
  <style>
    .title a {
      text-decoration: underline;
    }

    .title a:visited {
      color: var(--link-color);
    }

    .title + .acards {
      margin-top: 2.5em;
    }

    .tag_description {
      font-weight: bold;
    }
  </style>

  <article>
    <hgroup>
      <h1 class="title">
        <a href="/tags/">Tags</a>
        {% if page.namespace != "" %}
        » <a href="/tags/{{ page.namespace }}/">{{ page.namespace }}</a>
        {% endif %}
        » {{ page.tag_name }}
      </h1>

      <p class="meta">
        {% set total_posts = (page.tagged_pages|count) %}
        {{ total_posts }} post{% if total_posts > 1 %}s{% endif %}
      </p>
    </hgroup>

    {% if page.tag_description %}
    <p class="tag_description">
      {{ page.tag_description | markdownify_oneline }}
    </p>
    {% endif %}
    
    {% set featured_posts  = page.tagged_pages | selectattr("is_featured", "eq", True)  | list %}
    {% set remaining_posts = page.tagged_pages | selectattr("is_featured", "eq", False) | list %}

    {% if featured_posts|count > 0 %}
      {% with articles = featured_posts %}
        {% include "partials/article_cards.html" %}
      {% endwith %}
    {% endif %}

    {% if remaining_posts|count > 0 %}
      {% with articles = remaining_posts %}
        {% include "partials/article_links.html" %}
      {% endwith %}
    {% endif %}
  </article>
{% endblock %}
