{% extends "base.html" %}

{% block content %}
  <style>
    section {    
      h2 {
        margin-top: 0;
      }
    }
    
    section:nth-child(2n + 1) {
      background: rgba(153, 153, 153, 0.15);
    }
    
    @media (prefers-color-scheme: dark) {
      section:nth-child(2n + 1) {
        background: rgba(43, 43, 43, 0.55);
      }
    }
    
    /* The width of the window is 100vw, the width of <main> is 100%.
     *
     * When we expand <section>s to break out of <main>, we need to add
     * a negative left margin to move it against the edge of the window,
     * then re-add our padding.
     *
     *    |                   |
     *    |    +++++++++++    | 
     *    |    +++++++++++    | 
     *    |                   |
     *
     *         <!- 100% ->
     *     <----- 100vw ----->
     *
     */
    #topic_entries section {
      padding:     1.5em 0;
      width:       calc(100vw);
      margin-left: calc(50% - 50vw);
      
      & > * {
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 var(--default-padding);
      }
    }
  </style>

  <article>
    <hgroup>
      <h1 class="title">
        {{ page.title | markdownify_oneline }}
      </h1>

      {% include "partials/meta.html" %}
    </hgroup>

    {{ content | cleanup_text }}
  </article>
{% endblock %}
