<link
  rel="preload"
  href="/static/white-waves.png"
  as="image"
  type="image/png"
  media="(prefers-color-scheme: light)"
/>
<link
  rel="preload"
  href="/static/black-waves.png"
  as="image"
  type="image/png"
  media="(prefers-color-scheme: dark)"
/>
<link
  rel="preload"
  href="/h/{{ primary_color_light }}.png"
  as="image"
  type="image/png"
  media="(prefers-color-scheme: light)"
/>
<link
  rel="preload"
  href="/h/{{ primary_color_dark }}.png"
  as="image"
  type="image/png"
  media="(prefers-color-scheme: dark)"
/>
