<style type="x-text/scss">
  @use "components/embed_bluesky";
</style>

{% assign author = post_data.author %}

<blockquote class="bluesky-embed">
  <div class="header">
    <a class="name_header" href="https://{{ author.server }}/@{{ author.username }}">
      <img class="avatar" src="{{ post_data | avatar_url }}" alt="">

      <div class="name">
        <span class="display_name">{{ author.name }}</span>
        <span class="handle">@{{ author.handle }}</span>
      </div>
    </a>

    <img class="bluesky_logo dark_aware" src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='none'%20viewBox='0%200%20320%20286'%3e%3cpath%20fill='rgb(10,122,255)'%20d='M69.364%2019.146c36.687%2027.806%2076.147%2084.186%2090.636%20114.439%2014.489-30.253%2053.948-86.633%2090.636-114.439C277.107-.917%20320-16.44%20320%2032.957c0%209.865-5.603%2082.875-8.889%2094.729-11.423%2041.208-53.045%2051.719-90.071%2045.357%2064.719%2011.12%2081.182%2047.953%2045.627%2084.785-80%2082.874-106.667-44.333-106.667-44.333s-26.667%20127.207-106.667%2044.333c-35.555-36.832-19.092-73.665%2045.627-84.785-37.026%206.362-78.648-4.149-90.071-45.357C5.603%20115.832%200%2042.822%200%2032.957%200-16.44%2042.893-.917%2069.364%2019.147Z'/%3e%3c/svg%3e">
  </div>

  <p class="text">
    {{ post_data["text"] }}
  </p>
  
  {% if post_data["quoted_post"] %}
    {% assign quoted_post = post_data["quoted_post"] %}

    <a href="{{ quoted_post.url }}" class="quote">
      <div class="author">
        <img class="avatar" src="{{ post_data | avatar_url }}" alt="">
        <span class="display_name">{{ quoted_post.author.name }}</span>
        <span class="handle">@{{ quoted_post.author.handle }}</span>
      </div>
      <p class="text">{{ quoted_post | render_tweet_text }}</p>
    </a>
  {% endif %}

  <p class="meta">
    <a href="{{ post_url }}">
      <time datetime="{{ post_data.date_posted | date: "%Y-%m-%d" }}">
        {{- post_data.date_posted | date: "%d %b %Y at %H:%M" -}}
      </time>
    </a>
  </p>
</blockquote>
