---
layout: default
---

<article class="archive__article">
  <h2>{{ page.title | escape }}</h2>

  <ul class="archive">
  {% for post in page.posts %}
    <li>
      <div>
        <div class="archive__date">
          {% if page.archive_variant == "global" %}
            {{ post.date | date: site.date_format }}
          {% else %}
            {{ post.date | date: "%-d %B" }}
          {% endif %}
        </div>
        <div class="archive__url">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>

  {% if page.archive_variant == "yearly" %}
    <p>
      You can also read <a href="/archive/">the complete archive</a>.
    </p>
  {% elsif page.archive_variant == "monthly" %}
    <p>
      You can also see <a href="/{{ page.year }}/">other posts from this year</a> or read <a href="/archive/">the complete archive</a>.
    </p>
  {% endif %}
</article>
