---
layout: default
---

<article class="archive__article">
  <h2>{{ page.title | escape }}</h2>

  <ul class="archive">
  {% for post in page.posts %}
    <li>
      <div class="archive__date">{{ post.date | date: "%b %-d" }}</div>
      <a href="{{ post.url }}"><span>{{ post.title }}</span></a>
    </li>
  {% endfor %}
  </ul>

  {% if page.archive_variant == "yearly" %}
    <p>
      You can also read <a href="/archive/">the complete archive</a>.
    </p>
  {% elsif page.archive_variant == "monthly" %}
    <p>
      You can also see <a href="/{{ page.year }}/">other posts from this year</a> or read <a href="/archive/">the complete archive</a>.
    </p>
  {% endif %}
</article>
