name: build_site

on:
  push:
    branches:
    - main

    paths-ignore:
      - 'assets/**'
      - 'caddy/**'
      - 'dns/**'
      - 'tests/**'
      - 'Caddyfile'
      - '.github/workflows/caddy_fmt.yml'
      - '.github/workflows/check_dns.yml'
      - '.github/workflows/rubocop.yml'
      - '.github/workflows/run_plugin_tests.yml'

  pull_request:
    branches:
    - main

    paths-ignore:
      - 'assets/**'
      - 'caddy/**'
      - 'dns/**'
      - 'tests/**'
      - 'Caddyfile'
      - '.github/workflows/caddy_fmt.yml'
      - '.github/workflows/check_dns.yml'
      - '.github/workflows/rubocop.yml'
      - '.github/workflows/run_plugin_tests.yml'

  schedule:
    - cron: "30 7 * * *"

jobs:
  build:
    name: Build the website
    runs-on: self-hosted

    env:
      # This tells `bundle install` to install gems in a user-owned directory,
      # so it doesn't need sudo permissions.
      GEM_HOME: /home/alexwlchan/.gems

    steps:
      - name: "Check out the repo"
        uses: actions/checkout@v6
        with:
          # Don't run `git clean/reset` when checking out the repo.
          #
          # This means the existing copy of the `_site` folder is preserved,
          # so the site doesn't have to be rebuilt from scratch every time.
          clean: false
        
      # Tell GitHub Actions where to find `uv`
      - name: Add ~/.local/bin to the PATH
        run: echo "/home/alexwlchan/.local/bin" >> $GITHUB_PATH
        
      - name: "Install Python dependencies"
        run: |
          source .venv/bin/activate
          uv pip sync requirements.txt

      - name: "Install Ruby dependencies"
        run: bundle install

      - name: "Set the JEKYLL_ENV variable"
        run: |
          if [[ "$GITHUB_REF" == "refs/heads/main" ]]
          then
            echo "JEKYLL_ENV=production" >> "$GITHUB_ENV"
          else
            echo "JEKYLL_ENV=development" >> "$GITHUB_ENV"
          fi

      - name: "Clear the Jekyll cache"
        run: rm -rf src/.jekyll-cache/

      - name: "Build the site"
        run: bundle exec jekyll build --drafts

      - name: "Run linting (Ruby)"
        run: bundle exec ruby scripts/linter.rb

      - name: "Run linting (Python)"
        run: |
          source .venv/bin/activate
          python3 scripts/run_linter.py _site

      - name: "Publish drafts"
        if: github.ref == 'refs/heads/main'
        run: |
          if [[ -d "src/_drafts" ]]
          then
            touch ~/.gitconfig

            git config user.name "GitHub Actions on behalf of Alex Chan"
            git config user.email "githubactions@alexwlchan.net"

            git config --global --add safe.directory .

            bundle exec ruby scripts/publish_drafts.rb

            # Note: although there are no more drafts, we build with the
            # flag to avoid Jekyll invalidating its cache
            bundle exec jekyll build --drafts
          else
            echo "There is no _drafts folder, so nothing to publish!"
          fi

      - name: Copy to the public directory
        if: github.ref == 'refs/heads/main'
        run: |
          rsync \
            --compress \
            --recursive \
            --delete \
            --verbose \
            --checksum \
            --exclude="my-tools/add-cover-to-ao3-epubs/" \
            --exclude="my-tools/list-youtube-likes/" \
            --exclude="my-tools/library-lookup/" \
            --exclude="ideas-for-inclusive-events/" \
            --exclude="man/" \
            _site/ \
            ~/repos/alexwlchan.net/_site/

      - name: "Run the website tests"
        # if: github.ref == 'refs/heads/main'
        run: |
          source .venv/bin/activate
          python3 -m pytest uptime_tests

      - name: "Push any commits to GitHub"
        if: github.ref == 'refs/heads/main'
        run: |
          if [[ $(git log -1 --pretty=format:'%an') == "GitHub Actions on behalf of Alex Chan" ]]
          then
            git push --verbose origin main
          fi
