name: Build the website

on:
  push:
    branches:
    - main

    paths-ignore:
      - 'assets/**'
      - 'caddy/**'
      - 'dns/**'
      - 'tests/**'
      - 'Caddyfile'
      - '.github/workflows/caddy_fmt.yml'
      - '.github/workflows/check_dns.yml'
      - '.github/workflows/rubocop.yml'
      - '.github/workflows/run_plugin_tests.yml'

  pull_request:
    branches:
    - main

    paths-ignore:
      - 'assets/**'
      - 'caddy/**'
      - 'dns/**'
      - 'tests/**'
      - 'Caddyfile'
      - '.github/workflows/caddy_fmt.yml'
      - '.github/workflows/check_dns.yml'
      - '.github/workflows/rubocop.yml'
      - '.github/workflows/run_plugin_tests.yml'

  schedule:
    - cron: "30 7 * * *"

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: "Check out the repo"
        uses: actions/checkout@v6
        with:
          # Don't run `git clean/reset` when checking out the repo.
          #
          # This means the existing copy of the `_site` folder is preserved,
          # so the site doesn't have to be rebuilt from scratch every time.
          clean: false
        
      # Tell GitHub Actions where to find `uv`
      - name: Add ~/.local/bin to the PATH
        run: echo "/home/alexwlchan/.local/bin" >> $GITHUB_PATH
        
      - name: "Install Python dependencies"
        run: |
          uv venv --allow-existing .venv
          source .venv/bin/activate
          uv pip sync requirements.txt

      - name: "Build the site"
        run: |
          source .venv/bin/activate
          python3 scripts/build_site.py

      - name: "What's been built?"
        run: find _out -type f

      - name: "Run linting"
        run: |
          source .venv/bin/activate
          python3 scripts/run_linter.py _out

      - name: Copy to the public directory
        if: github.ref == 'refs/heads/main'
        run: |
          rsync \
            --compress \
            --recursive \
            --delete \
            --verbose \
            --checksum \
            --exclude="my-tools/add-cover-to-ao3-epubs/" \
            --exclude="my-tools/list-youtube-likes/" \
            --exclude="my-tools/library-lookup/" \
            --exclude="ideas-for-inclusive-events/" \
            --exclude="man/" \
            _out/ \
            ~/repos/alexwlchan.net/_site/

      - name: "Run the website tests"
        # if: github.ref == 'refs/heads/main'
        run: |
          source .venv/bin/activate
          python3 -m pytest uptime_tests

      - name: "Push any commits to GitHub"
        if: github.ref == 'refs/heads/main'
        run: |
          if [[ $(git log -1 --pretty=format:'%an') == "GitHub Actions on behalf of Alex Chan" ]]
          then
            git push --verbose origin main
          fi
