name: "Lint my Caddyfiles"

on:
  push:
    branches:
    - main

    paths:
      - '.github/workflows/caddy_fmt.yml'
      - 'Caddyfile'
      - '**/Caddyfile'
      - '**/*.Caddyfile'

  pull_request:
    branches:
    - main

    paths:
      - '.github/workflows/caddy_fmt.yml'
      - 'Caddyfile'
      - '**/Caddyfile'
      - '**/*.Caddyfile'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: "Check out the repo"
        uses: actions/checkout@v6

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: pip

      - name: Install Caddy
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download \
            --repo caddyserver/caddy \
            --pattern 'caddy_*_linux_amd64.tar.gz' \
            --output caddy.tar.gz
          tar -xzf caddy.tar.gz --directory /usr/local/bin
          chmod +x /usr/local/bin/caddy
          which caddy

      - name: Install cogapp
        run: pip install cogapp
      
      - name: Run Cog on the book redirects
        run: cog -c -r caddy/book_redirects.Caddyfile

      - name: Format my Caddyfiles
        run: |
          find . \
            -name Caddyfile \
            -o -name '*.Caddyfile' ! -name 'redirects.Caddyfile' ! -name 'book_redirects.Caddyfile' | \
            xargs -I '{}' --verbose caddy fmt --overwrite '{}'
      
      - name: Print changes
        run: git diff
      
      - name: Check for changes
        run: git diff --exit-code
