name: Check my DNS records

on:
  push:
    branches:
    - main

    paths:
      - 'dns/*'
      - '.github/workflows/check_dns.yml'
      - 'scripts/run_dns_tests.sh'

  pull_request:
    branches:
    - main

    paths:
      - 'dns/*'
      - '.github/workflows/check_dns.yml'
      - 'scripts/run_dns_tests.sh'

  schedule:
    - cron: "30 8 * * *"

jobs:
  build:
    name: Check my DNS records
    runs-on: ubuntu-latest
    steps:
      - name: "Check out the repo"
        uses: actions/checkout@v6

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: pip

      - name: Install Python dependencies
        run: pip install -r dns/requirements.txt

      - name: "Check the DNS records"
        run: bash scripts/run_dns_tests.sh
