name: Check website is up

on:
  push:
    branches:
    - main

    paths:
      - '.github/workflows/check_website_is_up.yml'
      - 'tests/*'

  pull_request:
    branches:
    - main

    paths:
      - '.github/workflows/check_website_is_up.yml'
      - 'tests/*'

  schedule:
    - cron: "42 * * * *"

jobs:
  check_website:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: "Set up Ruby"
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.4"
        cache-version: 1

    - name: "Run the website tests"
      run: ruby tests/run_all_tests.rb
