name: Check DNS records

on:
  push:
    branches:
    - main

    paths:
      - 'dns/*'
      - '.github/workflows/check_dns.yml'

  pull_request:
    branches:
    - main

    paths:
      - 'dns/*'
      - '.github/workflows/check_dns.yml'

  schedule:
    - cron: "30 8 * * *"

jobs:
  build:
    name: Build the website
    runs-on: ubuntu-latest
    steps:
      - name: "Check out the repo"
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"
          bundler-cache: true
          cache-version: 0

      - name: "Check the DNS records"
        run: bash dns/verify_dns_records.sh
