name: Run Mosaic tests

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main

    paths:
      - '.github/workflows/run_mosaic_tests.yml'
      - 'mosaic/**'
      - 'scripts/**'
      - 'tests/**'

jobs:
  mosaic_tests:
    runs-on: self-hosted

    steps:
      - name: "Check out the repo"
        uses: actions/checkout@v6
        with:
          # Don't run `git clean/reset` when checking out the repo.
          #
          # This means the existing copy of the `_site` folder is preserved,
          # so the site doesn't have to be rebuilt from scratch every time.
          clean: false

      # Tell GitHub Actions where to find `uv`
      - name: Add ~/.local/bin to the PATH
        run: echo "/home/alexwlchan/.local/bin" >> $GITHUB_PATH

      - name: "Install Python dependencies"
        run: |
          uv venv --allow-existing .venv
          source .venv/bin/activate
          uv pip sync requirements.txt

      - name: Run tests
        run: |
          source .venv/bin/activate
          bash scripts/run_mosaic_tests.sh
      
      - name: Build the site
        run: |
          source .venv/bin/activate
          python3 scripts/build_site.py
