name: "plugin-tests"

on:
  push:
    branches:
    - main

    paths:
      - 'src/_plugins/**'

  pull_request:
    branches:
    - main

    paths:
      - 'src/_plugins/**'

jobs:
  build:
    name: Run plugin tests
    runs-on: ubuntu-latest
    steps:
      - name: "Check out the repo"
        uses: actions/checkout@v4

      - name: Run the tests
        run: |
          make plugin-tests
